<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="/img/fab.ico">
    <meta charset="utf-8" />
    <meta content='width=device-width, initial-scale=0.75, maximum-scale=0.75, user-scalable=yes' name='viewport' />
    <meta http-equiv="Content-Security-Policy" 
            content="   img-src 'self'; 
                        script-src 'unsafe-inline' 'self' https://accounts.google.com https://connect.facebook.net; 
                        style-src 'unsafe-inline' 'self' https://accounts.google.com/gsi/style https://fonts.googleapis.com/css2;" />
    <meta name="google-signin-client_id" content="392522309838-k8k4v2uk1tqmof77h3ut2l4cgs0vbvon.apps.googleusercontent.com">
    <title>Markable - biomarker analysis page (beta - AI testing version 1.1)</title>
    <style>
        .checkDivWrapper {
            cursor: pointer;
            font-weight: 400;
            word-wrap: break-word;  
            padding-top: 11px;     
            padding-bottom: 11px;     
            padding-left: 8px;    
        }

        @media only screen and (max-width: 1000px) { /* mobile */

            div.introTextLayout {
                left:10px;
                top: 635px;
            }

            div.clipLayout {
                right: 2.5%;
                top: 100px;
                width: 95%; 
                height: auto;
            }

            div.videoDivLayout {
                top: 105px;
            }

            div.instructionsDivLayout {
                top:60px;
                left:0px;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                z-index: 500;
            }

            div.instructionsDivInnerLayout {
                top: 15%;
                left: 15%;
                width: 70%;
                height: 70%;
                background-color: #ffffff;
                border-radius: 15px;
                font-size: 22px;
            }

            div.instructionsTextLayout {
                top: 53%; 
                left: 6%;
            }

            img.instructionsImgLayout {
                top: 22%; 
                left: 7%;
                width: 310px;
                height: auto;
            }

            button.instructionsButtomLayout {
                left: 2%;
                bottom: 2%;
                width: 94%;
                height: 50px;
            }

            div.checkboxGridLayout {
                left:10px;
                top: 105px;
                width: 460px;
            }

            div.checkBoxWrapperLayout {
                display: grid; 
                grid-template-columns: 1fr; 
                grid-gap: 14px;
                left: 5px; 
                top:90px; 
            }

            div.checkBoxCaptionLayout {
                left: 10px;
                top:0px;
            }

            div.mediaLayoutAfterRes {
                left: 10px; 
                top: 50px; 
            }

            div.resDivLayout {
                left:20px;
                top:100px;
            }

            div.resDivLayoutAfterPicTaken {
                left:20px;
                top:725px;
            }

            div.leftOrBottomLayout { /* left side on web, bottom side on mobile */
                width:95%
            }

            div.leftOrBottomLayoutNarrow { /* left side on web, bottom side on mobile */
                width:100%
            }

            div.leftOrBottomLayoutResults { /* left side on web, bottom side on mobile */
                width:90%
            }

            div.mainCaption {
                font-size: 52px;
            }

            div.subMainCaption {
                font-size: 28px;
            }

            div.instructionsLayout {
                width:85%;
            }

            div.progressBarLayout {
                width:90%
            }

            button.startButtonLayout {
                position: fixed;
                bottom:25px;
                left: 10px;
                width:96%;
                height: 50px
            }

            button.sendPicFinalLayout {
                position: fixed;
                left: 20px;
                bottom: 50px;
                width: 95%;
                height: 50px;
            }

            button.continueToAnalyzeLayout {
                position: fixed;
                width: 100px;
                height: 50px;
            }

            button.discoverTreatLayout {
                width: 95%;
                height: 50px;
            }

            img.loadingGifLayout {
                position: fixed;
                left: 200px;
                top: 500px;
                z-index: 1000;
            }

            img.loadingGifLayoutVid {
                position: fixed;
                left: 220px;
                top: 300px;
            }

            .pictureAdjustment {
                left: -10px;
            }

            .questionaireWidth {
                width:97%
            }

            .accuracyWidth {
                width:100px
            }
        }

        /* ===================================================================================================================================== */

        @media only screen and (min-width: 1000px) { /* web */

            div.introTextLayout {
                left: 100px; 
                top: 170px;
            }

            img.clipLayout {
                right: 0px;
                top: 180px;
                width: 45%;
                height: auto;
            }

            div.videoDivLayout {
                top: 125px;
            }

            div.instructionsDivLayout {
                top:0px;
                left:0px;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                z-index: 500;
            }

            div.instructionsDivInnerLayout {
                top: 15%;
                left:15%;
                width:70%;
                height: 70%;
                background-color: #ffffff;
                border-radius: 15px;
                font-size: 32px;
            }

            div.instructionsTextLayout {
                top: 26%; 
                left: 6%;
            }

            img.instructionsImgLayout {
                top: 24%; 
                left: 39%;
                width:580px;
                height: auto;
            }

            button.instructionsButtomLayout {
                right: 3%;
                bottom: 3%;
                width:180px;
                height: 40px;
            }

            div.checkboxGridLayout {
                right: 400px; 
                top: 130px;
                width: 920px;
                height: 100%;
            }

            div.checkBoxWrapperLayout {
                display: grid; 
                grid-template-columns: 1fr 1fr; 
                grid-gap: 24px;
                left: 5px; 
                top:90px; 
            }

            div.checkBoxCaptionLayout {
                left: 5px;
                top:15px;
            }

            div.mediaLayoutAfterRes {
                right: 540px; 
                top: 120px; 
            }

            div.resDivLayout {
                left:100px;
                top:130px;
            }

            div.resDivLayoutAfterPicTaken {
                left:100px;
                top:130px;
            }

            div.leftOrBottomLayout { /* left side on web, bottom side on mobile */
                width:55%
            }

            div.leftOrBottomLayoutNarrow { /* left side on web, bottom side on mobile */
                width:45%
            }

            div.leftOrBottomLayoutResults { /* left side on web, bottom side on mobile */
                width:45%
            }

            div.mainCaption {
                font-size: 63px;
            }

            div.subMainCaption {
                font-size: 23px;
            }

            div.instructionsLayout {
                width:45%;
            }

            div.progressBarLayout {
                width:32%
            }

            button.startButtonLayout {
                width: 260px; 
                height: 50px; 
            }

            button.sendPicFinalLayout {
                position: absolute;
                left: 735px;
                top: 600px; 
                width: 260px;
                height: 40px;
            }

            button.continueToAnalyzeLayout {
                position: fixed;
                right: 200px;
                bottom: 100px; 
                width: 260px;
                height: 40px;
            }

            button.discoverTreatLayout {
                width: 380px;
                height: 40px;
            }

            img.loadingGifLayout {
                position: absolute;
                right: 20px;
                bottom: 280px;
            }

            img.loadingGifLayoutVid {
                position: fixed;
                left: 220px;
                top: 300px;
            }

            .pictureAdjustment {
                left: 10px;
            }

            .questionaireWidth {
                width:470px
            }

            .accuracyWidth {
                width:100px
            }
        }
    </style>

    <script src="/scripts/score.js"></script>
    <script src="/scripts/mark_checkboxes.js"></script>
    <script src="/scripts/device.js"></script>

    <script>

        const getStarted = () => {

            moveUp();

            $$("accQuestionsWeb").style.display = "none";
            $$("accQuestionsMobile").style.display = "none";

            startCamera ();
        };

        const show_acc_questions = () => {

            moveUp();

            if (markable_device === MARKABLE_DEVICES.web) {
                show_acc_questions_web ();
            } else {
                show_acc_questions_mobile ()
            }
        };

        const show_acc_questions_web = () => {
            $$("introDiv").style.display = "none";
            $$("accQuestionsWeb").style.display = "";
        };

        const show_acc_questions_mobile = () => {
            $$("introDiv").style.display = "none";
            $$("accQuestionsMobile").style.display = "";

            enable_forward_mobile_stage ();
        };

        const showCanvas = show => {

            moveUp();

            $$("canvasElement").style.display = show ? "" : "none";
            $$("videoElement").style.display = show ? "none" : "";
            $$("capture").style.display = show ? "none" : "";
            $$("reCapture").style.display = show ? "" : "none";
            $$("sendPic").style.display = show ? "" : "none";
        };

        let picInstructionShown = false; 
        const showInstuctions = gradient => {

            if (gradient) {
                $$("instructionsDiv").opacity = 0;
                $$("instructionsDiv").style.opacity = "0";
                const opInterval = setInterval (() => {
                    $$("instructionsDiv").opacity += 0.05;
                    $$("instructionsDiv").style.opacity = $$("instructionsDiv").opacity.toString();
                    if ($$("instructionsDiv").opacity >= 1) {
                        $$("instructionsDiv").style.opacity = "1";
                        clearInterval (opInterval);
                    }

                }, 40);
            } else {
                $$("instructionsDiv").style.opacity = "1";
            }

            $$("instructionsDiv").style.display = "";
            picInstructionShown = true;
        }

        const hideInstructions = () => {
            $$("instructionsDiv").style.display = "none";
        }

        const showCheckboxes = () => {

            moveUp();

            try {
                mainStream.getTracks().forEach((track) => {
                    if ((track.readyState === 'live' || track.readyState === 'ended') && track.kind === 'video') {
                        track.stop();
                    }
                });
            } catch (e) {
                console.log(e);
            }

            setVideoVisibility ([false, false, false, false]);
            $$("checkDiv").style.display = "";
        };

        const showSocialLogin = show => {
            $$("socialDiv").style.display = show ? "" : "none";
        };

        const showResults = (res) => {

            moveUp();

            $$("scoreInput").value = calcScore (res, getUserInfo());

            $$("resDiv").style.display = "";
            setVideoVisibility ([false, false, true, false]);
            $$("canvasElement").style.display = "";
            $$("videoElement").style.display = "none";
            $$("checkDiv").style.display = "none";
            $$("reCapture").style.display = "none";
            $$("sendPic").style.display = "none";
            $$("placeHolderCanvas").style.display = "none";
            $$("captureWrapper").style.display = "none";
            $$("vidDiv").classList.remove ("videoDivLayout");
            $$("vidDiv").classList.add ("mediaLayoutAfterRes");
            $$("accQuestionsMobile").style.display = "none";
            $$("accQuestionsWeb").style.display = "none";
            $$("capture").style.display = "none";
            $$("socialDiv").style.display = "none";

            if (pictureTaken) {
                $$("resDiv").classList.remove ("resDivLayout");
                $$("resDiv").classList.add ("resDivLayoutAfterPicTaken");
            }

            const scoreJson = JSON.parse ($$("scoreInput").value);

            const classification = scoreJson.class;
            const scoreToDisplay = (classification === 'Young') ? 20 : scoreJson.total_score_empiric_plus_symptoms;

            $$("scoreSpan").innerText = scoreToDisplay;

            // progress bar:
            if (classification !== "Old") {
                $$("progressBar").style.display = "";
                $$("scoreSummary").style.display = "";
                $$("score_prog_inner").style.display = "";
                $$("score_prog_inner").spread = 0;
                $$("score_prog_inner").interval = setInterval(() => {
                    $$("score_prog_inner").spread++;
                    if ($$("score_prog_inner").spread < scoreToDisplay) {
                        $$("score_prog_inner").style.width = `${$$("score_prog_inner").spread * .99}%`;
                    } else {
                        $$("score_prog_inner").style.width = `${scoreToDisplay * .99}%`;
                        clearInterval($$("score_prog_inner").interval);
                    }

                }, 10);
            }
            //====================================================================


            switch (classification) {
                case "Young":
                    $$("classYoung").style.display = "";
                    break;
                case "Old":
                    $$("classOld").style.display = "";
                    break;
                default: // A, B, C or D
                    $$(`class${classification}`).style.display = "";
                    break;
            }


            //$$("dateSpanRes").innerText = new Intl.DateTimeFormat('en-US', { dateStyle: 'full', timeStyle: 'long' }).format(new Date());

            //alert (calcScore (res, getCheckCount()));
            //$$("resCanvas").style.display = "";

            //$$("resCanvas").style.left = $$("canvasElement").style.left;
            //$$("resCanvas").style.top = $$("canvasElement").style.top;

            // $$("canvasElement").width = "512";
            // $$("canvasElement").height = "512";

            //$$("canvasElement").getContext('2d').drawImage($$("canvasElementToSend"), 0, 0, 512, 512);

            // const resJson = JSON.parse (res);
            // const resCanvas = $$("resCanvas");
            // const ctx = resCanvas.getContext("2d");

            // Array.from (resJson.result.brown_spot.rectangle).forEach(element => {
                
            //     ctx.beginPath();
            //     ctx.ellipse(element.left / 8, element.top / 8, element.width / 8, element.height / 8, 0, 2 * Math.PI, false);
            //     ctx.fillStyle = "green";
            //     ctx.fill();
            //     ctx.closePath();
            // });
        };

        const generateDimJson = () => {
            return `{"width" : ${canvasToSend.width}, "height" : ${canvasToSend.height}}`;
        };

        const clearNoSymp = check => {
            if (check.checked) {
                mark_turnOffRemotely ("no_symp");
            }

            toggleAnalyzeDisableness ();
        };

        const clearChecks = () => {
            const checks = document.querySelectorAll('div.nine_questions input[type="checkbox"]:checked');
            checks.forEach (check => {
                if (check.id != 'no_symp') {
                    mark_turnOffRemotely (check.id);
                }
            });

            toggleAnalyzeDisableness ();
        };

        const getSymptomList = () => {
            const checks = document.querySelectorAll('div.nine_questions input[type="checkbox"]:checked');
            let arr = [];
            checks.forEach (check => {
                if (check.id === 'no_symp') {
                    return [];
                } else {
                    arr.push (check.id.replace ("cb", "symp"));
                }
            });
            return arr;
        };

        const getUserInfo = () => {
            const info = {};
            info.age = (markable_device === MARKABLE_DEVICES.web) ? $$("age_web").value : $$("age_mobile").value
            info.surg = (markable_device === MARKABLE_DEVICES.web)  ? $$("radio_web_surg_yes").checked :  $$("radio_mobile_surg_yes").checked;
            info.no_month = (markable_device === MARKABLE_DEVICES.web)  ? $$("radio_web_month_no").checked :  $$("radio_mobile_month_no").checked;
            info.symptoms = getSymptomList ();
            info.other = ($$("__other").checked) ? $$("__other_text").value : "";

            info.googleData = googleData;
            info.facebookData = facebookData;

            return info;
        };

        const toggleAnalyzeDisableness = () => {
            const checks = document.querySelectorAll('div.nine_questions input[type="checkbox"]:checked');
            const disdiv = $$("disableAnalyze");
            disdiv.style.display = checks.length ? "none" : "";
        }

        const setVideoVisibility = arr => {
            arr.forEach((element, index) => {
                $$(`videoEl${index}`).style.display = (element ? "" : "none");
            });
        };
    </script>
</head>

<body>

    <%- include('../partials/header'); %>

    <!-- indroduction: -->
    <div id="introDiv">
        <div class="abs introTextLayout hideForMobile" style="font-family: 'Belleza', sans-serif;">
            <div id="mainCaptionDiv" class="leftOrBottomLayoutNarrow mainCaption" style="line-height: 110%;">
                <div style="width:20px; height: 22px;"></div>
                Feeling off-balance? Struggling with brain fog, fatigue, or low mood?
            </div>

            <div id="subMainCaptionDiv" class="leftOrBottomLayoutNarrow subMainCaption" style="font-weight: 100; font-family: 'Lato', sans-serif; line-height: 140%;">
                <br />
                These could be signs of perimenopause.
                Discover fast, AI-driven perimenopause status.
                Quick insight and personalized treatment options are just a selfie away.
                <span class="hideForMobile"><br /><br /></span>

                <span class="onlyForMobile">
                    <br /><br /><br /><br />
                </span>
            </div>
            <button id="letsGetStarted" class="startButtonLayout" style="font-size: 24px; z-index: 100;"
                onclick="show_acc_questions()">Get Instant Analysis</button>
        </div>

        <img src="/img/clip.jpeg" class="abs clipLayout hideForMobile" width="50%" height="auto" />

        <div class="onlyForMobile abs clipLayout">
            <img src="/img/clip.jpeg" width="100%" height="auto" />
            <div class="onlyForMobile" style="font-family: 'Belleza', sans-serif;">

                <div id="mainAndSubMainForMobile"></div>
                <script>
                    $$("mainAndSubMainForMobile").innerHTML = $$("mainCaptionDiv").outerHTML +  
                    $$("subMainCaptionDiv").outerHTML + $$("letsGetStarted").outerHTML + "<br /><br /><br />";
                </script>

            </div>
            
            <!-- 2 fader divs: -->
            <div class="onlyForMobile">
                <div class="fxd"
                    style="left: 0px; bottom: 0px; width: 100%; height: 65px; background-color: #ffffff;"></div>
                <div class="fxd" style="left: 0px; bottom: 50px; width: 100%; height: 120px; 
                                            background-image:  linear-gradient( rgba(255,255,255,0), rgba(255,255,255,1));"></div>
            </div>

        </div>
    </div>
  
    <!-- video and canvas -->
    <div id="vidDiv" class="abs videoDivLayout">

        <div id="videoEl0" style="font-family: 'Belleza', sans-serif; font-size: 32px; font-weight: 900; text-align: left; display: none;">
            Take a Selfie for Instant Biomarker Analysis
            <br /><br />
        </div>

        <span id="videoEl1" style="display: none;">
            <span class="hideForMobile">
                <div id="vidDivHowtoWeb" style="display : flex; flex-direction: row; align-items : center;">
                    <img alt="" src="/img/camera.png" style="width:48px; height: auto;" />
                    <a id="showInstructionsWeb" style="font-size: 22px;" onclick="showInstuctions(false)">&nbsp;How to get optimal results</a>
                </div>
            </span>
        </span>

        <div id="videoEl2" class="abs" style="width:100%; display: none;">
            <div id="videoWrapper" class="abs pictureAdjustment" style="top: 30px; margin: 0px; padding: 0px;">
                <video id="videoElement" autoplay="true" loop="true" muted="true" playsinline="true" width="480" height="auto" style="background-color: #ffffff; transform: scale(-1, 1); -webkit-transform: scale(-1, 1); -moz-transform: scale(-1, 1);" ></video>
            </div>
            <canvas id="canvasElement" width="480" class="abs pictureAdjustment" style="top:30px; transform: scale(-1, 1); -webkit-transform: scale(-1, 1); -moz-transform: scale(-1, 1)"></canvas>
            <canvas id="canvasElementToSend" width="960" style="display:none; transform: scale(-1, 1); -webkit-transform: scale(-1, 1); -moz-transform: scale(-1, 1)"></canvas>

            <canvas  id="placeHolderCanvas"  width="480" class="abs pictureAdjustment" style="top:30px; z-index: 100;"></canvas>

            <div id="captureWrapper" class="abs" style="width:480px; height:75px; background-color: rgba(0, 0, 0, 0.5);"></div>
            <button id="capture" class="abs hand selfieButton" style="z-index: 400;">Take Selfie</button>
            <button class="abs hand selfieButton" id="reCapture" style="z-index: 400; display: none;"> Retake</button>
            <button class="abs hand selfieButton" id="sendPic" style="z-index: 400; display: none;" onclick="showCheckboxes()"> Analyze Selfie</button>
            <!--canvas id="resCanvas" class="abs" width="512" height="512" style="display: none;"></canvas-->

            <span id="videoEl3" style="display: none;">
                <span class="onlyForMobile">
                    <div class="abs" id="vidDivHowtoMobile" style="display : flex; align-items : center;">
                        <img alt="" src="/img/camera.png" style="width:48px; height: auto;" />
                        <a id="showInstructionsMobile" style="font-size: 22px;" onclick="showInstuctions(false)">&nbsp;How to get optimal results</a>
                    </div>
                </span>
            </span>
        </div>

    </div>
    <img id="loadingImgVid" class="loadingGifLayoutVid" style="width:80px; height: 80px; z-index: 200; display: none;" src="/img/loading.gif" />

    <div id="instructionsDiv" class="fxd instructionsDivLayout" style="display: none;">
        <div id="instructionsDivInner" class="abs instructionsDivInnerLayout">
            <div style="font-family: 'Belleza', sans-serif; font-weight: 900; text-align:center;">
                <br /><br class="onlyForMobile"/><br class="onlyForMobile"/>
                How To Get Optimal Results
            </div>
            <div class="abs instructionsTextLayout">
                <br class="onlyForMobile"/><br />
                <div style="display : flex; flex-direction: row; align-items : center;">
                    <img alt="vsign" src="/img/vsign.png" style="width:36px; height: auto;" />
                    &nbsp;&nbsp;&nbsp;
                    <span style="font-family: 'Belleza', sans-serif; font-size: 22px;">Optimize lighting</span>
                </div>
                <br /><br class="hideForMobile"/>
                <div style="display : flex; flex-direction: row; align-items : center;">
                    <img alt="vsign" src="/img/vsign.png" style="width:36px; height: auto;" />
                    &nbsp;&nbsp;&nbsp;
                    <span style="font-family: 'Belleza', sans-serif; font-size: 22px;">Remove makeup</span>
                </div>
                <br /><br class="hideForMobile"/>
                <div style="display : flex; flex-direction: row; align-items : center;">
                    <img alt="vsign" src="/img/vsign.png" style="width:36px; height: auto;" />
                    &nbsp;&nbsp;&nbsp;
                    <span style="font-family: 'Belleza', sans-serif; font-size: 22px;">Remove glasses</span>
                </div>
            </div>

            <img class="abs instructionsImgLayout" alt="instructions" src="/img/instructions.png" />

            <div class="hand abs" onclick="hideInstructions ()" style="right: 2%; top: 2%; font-size: 28px; font-family: 'Lato', sans-serif; font-weight: bolder;">X</div>

            <button class="hand abs instructionsButtomLayout" onclick="hideInstructions ()">GOT IT!</button>

        </div>
    </div>

    <!-- accuracy questions - mobile -->
    <script>
        const get_mobile_stage = () => {
            if ($$("accQuestionsMobile_1").style.display === "") {
                return 1;
            }
            if ($$("accQuestionsMobile_2").style.display === "") {
                return 2;
            }
            // if ($$("accQuestionsMobile_3").style.display === "") {
            //     return 3;
            // }

            return -1;
        }

        const  enable_forward_mobile = active => {
            $$("navMobiledDisabled").style.display = "none";
            if (active) {
                //forward_mobile ();
                setTimeout (forward_mobile, 500)
            }
        }

        const  disable_forward_mobile = () => {
            $$("navMobiledDisabled").style.display = "";
        }

        const enable_forward_mobile_combo = (combo, active) => {
            if (combo.value.toString() === "-1") {
                disable_forward_mobile ();
            } else {
                enable_forward_mobile (active);
            }
        }

        const enable_forward_mobile_stage = () => {
            switch (get_mobile_stage()) {
                case 1:
                    enable_forward_mobile_combo ($$("age_mobile"), false);
                    break;
                case 2:
                    if (($$("radio_mobile_surg_yes").checked ||  $$("radio_mobile_surg_no").checked) && 
                        ($$("radio_mobile_month_yes").checked ||  $$("radio_mobile_month_no").checked))
                        enable_forward_mobile (false);
                    else 
                        disable_forward_mobile();
                    break;
                default: 
                    disable_forward_mobile();
                    break;
            }

        }

        const forward_mobile = () => { 
            switch (get_mobile_stage()) {
                case 1:
                    $$("accQuestionsMobile_1").style.display = "none";
                    $$("accQuestionsMobile_2").style.display = "";
                    $$("accQuestionsMobile_3").style.display = "";
                    break;
                case 2:
                    if ($$("radio_mobile_surg_yes").checked || $$("radio_mobile_month_no").checked ||  
                        $$("age_mobile").value > 52 || $$("age_mobile").value < 38) {
                        // showResults (100);
                        getStarted ();
                    } else {
                        getStarted ();
                    }
            }

            enable_forward_mobile_stage ();
        }

        const back_mobile = () => {
            switch (get_mobile_stage()) {
                case 1:
                    $$("accQuestionsMobile").style.display = "none";
                    $$("introDiv").style.display = "";
                    break;
                case 2:
                    $$("accQuestionsMobile_3").style.display = "none";
                    $$("accQuestionsMobile_2").style.display = "none";
                    $$("accQuestionsMobile_1").style.display = "";
                    break;
            }

            enable_forward_mobile_stage ();
        }

        const radio_mobile_month_yes_click = check => {
            if ($$("radio_mobile_surg_yes").checked ||  $$("radio_mobile_surg_no").checked) {
                enable_forward_mobile (true);
            }

            if (check.checked) {
                mark_turnOffRemotely ("radio_mobile_month_no");
            }
        };

        const radio_mobile_month_no_click = check => {
            if ($$("radio_mobile_surg_yes").checked ||  $$("radio_mobile_surg_no").checked) {
                enable_forward_mobile (true);
            }

            if (check.checked) {
                mark_turnOffRemotely ("radio_mobile_month_yes");
            }
        };

        const radio_mobile_surg_yes_click = check => {
            if ($$("radio_mobile_month_yes").checked ||  $$("radio_mobile_month_no").checked) {
                enable_forward_mobile (true);
            }
            
            if (check.checked) {
                mark_turnOffRemotely ("radio_mobile_surg_no");
            }
        };

        const radio_mobile_surg_no_click = check => {
            if ($$("radio_mobile_month_yes").checked ||  $$("radio_mobile_month_no").checked) {
                enable_forward_mobile (true);
            }

            if (check.checked) {
                mark_turnOffRemotely ("radio_mobile_surg_yes");
            }
        };
    </script>

    <div id="accQuestionsMobile" class="abs" style="left:12px; top: 105px; width: 100%; display:none;">
        <span id="accQuestionsMobile_1">
            <div style="font-family: 'Belleza', sans-serif; font-size: 38px; text-align: left; width: 100%; border: 1px solid #ffffff;">
                Help us improve accuracy
            </div>
            <br />
            <br />
            <div style="font-family: 'Belleza', sans-serif; font-size: 22px; text-align: left; width: 100%; border: 1px solid #ffffff;">
                what is your age?
                &nbsp;
                <%- include('../partials/mark_numeric_combo', {id: "age_mobile", start: 18, end: 65, selected: -1, nonval:45,  width:80, onchange:"enable_forward_mobile_combo(this, true)"}); %>
            </div>
            <br />
            <br />
        </span>

        <span id="accQuestionsMobile_2" style="display:none;">
            <div style="font-family: 'Belleza', sans-serif; font-size: 38px; text-align: left; width: 100%; border: 1px solid #ffffff;">
                Help us improve accuracy
            </div>
            <br />
            <br />
            <div style="font-family: 'Belleza', sans-serif; font-size: 22px; text-align: left; width: 90%; border: 1px solid #ffffff;">
                Have you experienced menstrual bleeding within the last 12 months?
                <br />
                <br />
                <%- include('../partials/mark_checkbox', {cb: "radio_mobile_month_yes", onclick: "radio_mobile_month_yes_click", aditionalClass:"accuracyWidth", label: "Yes"}); %>
                <br />
                <%- include('../partials/mark_checkbox', {cb: "radio_mobile_month_no", onclick: "radio_mobile_month_no_click", aditionalClass:"accuracyWidth", label: "No"}); %>
            </div>
        </span>

        <span id="accQuestionsMobile_3" style="display:none;">
            <!--div style="font-family: 'Belleza', sans-serif; font-size: 38px; text-align: left; width: 100%; color:#333333; border: 1px solid #ffffff;">
                Help us improve accuracy
            </div-->
            <br />
            <br />
            <div style="font-family: 'Belleza', sans-serif; font-size: 22px; text-align: left; width: 90%; border: 1px solid #ffffff;">
                Have you undergone a surgical procedure to have your ovaries removed?
                <br />
                <br />
                <%- include('../partials/mark_checkbox', {cb: "radio_mobile_surg_yes", onclick: "radio_mobile_surg_yes_click", aditionalClass:"accuracyWidth", label: "Yes"}); %>
                <br />
                <%- include('../partials/mark_checkbox', {cb: "radio_mobile_surg_no", onclick: "radio_mobile_surg_no_click", aditionalClass:"accuracyWidth", label: "No"}); %>
            </div>
        </span>

        <img alt="back" class="fxd hand" src="/img/nav.png" style="width:49px; height: auto; 
                                                                    bottom: 35px; left:20px;" 
                                                                    onclick="back_mobile()"/>
        <img id="navMobile" alt="next" class="fxd hand" src="/img/nav.png" style="width:49px; height: auto;
                                                                    bottom: 35px; right:20px;
                                                                    -webkit-transform: scaleX(-1); transform: scaleX(-1);"
                                                                    onclick = "forward_mobile()" />
        <div id="navMobiledDisabled" class="fxd" src="/img/nav_disabled.png" style="width:49px; height: 49px;
                                                                background-color: #ffffff;
                                                                bottom: 35px; right:20px; z-index: 100;
                                                                -webkit-transform: scaleX(-1); transform: scaleX(-1);" ></div>
    </div>

    <!-- accuracy questions - web -->
    <script>

        const enable_forward_web_stage = () => {
            if ($$("age_web").value > 0 &&
            (($$("radio_web_surg_yes").checked || $$("radio_web_surg_no").checked) && ($$("radio_web_month_yes").checked || $$("radio_web_month_no").checked))) {
                $$("disableContinueToAnalysis").style.display = "none";
            } else {
                $$("disableContinueToAnalysis").style.display = "";
            }
        }

        const radio_web_surg_yes_click = check => {
            if (check.checked) {
                mark_turnOffRemotely ("radio_web_surg_no");
                enable_forward_web_stage ();
            }
        };

        const radio_web_surg_no_click = check => {
            if (check.checked) {
                mark_turnOffRemotely ("radio_web_surg_yes");
                enable_forward_web_stage ();
            }
        };

        const radio_web_month_yes_click = check => {
            if (check.checked) {
                mark_turnOffRemotely ("radio_web_month_no");
                enable_forward_web_stage ();
            }
        };

        const radio_web_month_no_click = check => {
            if (check.checked) {
                mark_turnOffRemotely ("radio_web_month_yes");
                enable_forward_web_stage ();
            }
        };

        const forward_web = () => {
            if ($$("age_web").value > 52 || $$("age_web").value < 38 || $$("radio_web_surg_yes").checked || $$("radio_web_month_no").checked) {
                // showResults (100);
                getStarted ();
            }  else {
                getStarted ()
            }
        }
    </script>

    <div id="accQuestionsWeb" class="abs" style="left:100px; top: 130px; width: 100%; height: 100%; display:none;">
        <div style="font-family: 'Belleza', sans-serif; font-size: 38px; text-align: left; width: 100%; border: 1px solid #ffffff;">
            Help us improve accuracy
        </div>
        <br />
        <br />
        <div style="font-family: 'Belleza', sans-serif; font-size: 22px; text-align: left; width: 100%;  border: 1px solid #ffffff;">
            what is your age?
        </div>
        <br />
        <%- include('../partials/mark_numeric_combo', {id: "age_web", start: 18, end: 65, selected: -1, nonval:45, width:200, onchange: "enable_forward_web_stage()"}); %>
        <br />
        <br />
        <div id="monthQuesion" style="font-family: 'Belleza', sans-serif; font-size: 22px; text-align: left; width: 100%; border: 1px solid #ffffff;">
            Have you experienced menstrual bleeding within the last 12 months?
        </div>
        <br />
        <div style="display : flex; flex-direction: row; align-items : center;">
            <%- include('../partials/mark_checkbox', {cb: "radio_web_month_yes", onclick: "radio_web_month_yes_click", aditionalClass:"accuracyWidth", label: "Yes"}); %>
            <%- include('../partials/mark_checkbox', {cb: "radio_web_month_no", onclick: "radio_web_month_no_click", aditionalClass:"accuracyWidth", label: "No"}); %>
        </div>
        <br />
        <br />
        <div style="font-family: 'Belleza', sans-serif; font-size: 22px; text-align: left; width: 100%; border: 1px solid #ffffff;">
            Have you undergone a surgical procedure to have your ovaries removed?
        </div>
        <br />
        <div style="display : flex; flex-direction: row; align-items : center;">
            <%- include('../partials/mark_checkbox', {cb: "radio_web_surg_yes", onclick: "radio_web_surg_yes_click", aditionalClass:"accuracyWidth", label: "Yes"}); %>
            <%- include('../partials/mark_checkbox', {cb: "radio_web_surg_no", onclick: "radio_web_surg_no_click", aditionalClass:"accuracyWidth", label: "No"}); %>
        </div>

        <button class="continueToAnalyzeLayout" id="continueToAnalysis" onclick="forward_web()">CONTINUE TO ANALYSIS</button>
        <button class="continueToAnalyzeLayout" id="disableContinueToAnalysis" style="z-index: 100; background-color: #e7e7e7; cursor: default;">CONTINUE TO ANALYSIS</button>
    </div>

    <!-- checkbox div -->
    <div id="checkDiv" class="abs checkboxGridLayout" style="display: none;">
        <div class="abs checkBoxCaptionLayout" style="font-family: 'Belleza', sans-serif; font-size: 22px; text-align: left; width: 100%; border: 1px solid #ffffff;">
            While We Analyze Your Biomarkers.... Please Check All That Applies To You
        </div>
        <div class="abs checkBoxWrapperLayout nine_questions" style="font-size: 16px; font-family: 'Lato', sans-serif; vertical-align: top;">
            <%- include('../partials/mark_checkbox', {cb: "cb1", onclick: "clearNoSymp", aditionalClass:"questionaireWidth", label: "New onset heavy and/or longer flow"}); %>
            <%- include('../partials/mark_checkbox', {cb: "cb2", onclick: "clearNoSymp", aditionalClass:"questionaireWidth", label: "Shorter menstrual cycles (up to 25 days)"}); %>
            <%- include('../partials/mark_checkbox', {cb: "cb3", onclick: "clearNoSymp", aditionalClass:"questionaireWidth", label: "New sore, swollen or lumpy breasts"}); %>
            <%- include('../partials/mark_checkbox', {cb: "cb4", onclick: "clearNoSymp", aditionalClass:"questionaireWidth", label: "New mid-sleep wakening"}); %>
            <%- include('../partials/mark_checkbox', {cb: "cb5", onclick: "clearNoSymp", aditionalClass:"questionaireWidth", label: "New or markedly increased migraine headaches"}); %>
            <%- include('../partials/mark_checkbox', {cb: "cb6", onclick: "clearNoSymp", aditionalClass:"questionaireWidth", label: "Increased cramps"}); %>
            <%- include('../partials/mark_checkbox', {cb: "cb7", onclick: "clearNoSymp", aditionalClass:"questionaireWidth", label: "Onset of night sweats, in particular premenstrually"}); %>
            <%- include('../partials/mark_checkbox', {cb: "cb8", onclick: "clearNoSymp", aditionalClass:"questionaireWidth", label: "New/increased premenstrual mood swings"}); %>
            <%- include('../partials/mark_checkbox', {cb: "cb9", onclick: "clearNoSymp", aditionalClass:"questionaireWidth", label: "Weight gain without changes in exercise or eating"}); %>
            <%- include('../partials/mark_checkbox', {cb: "no_symp", onclick: "clearChecks", aditionalClass:"questionaireWidth", label: "I don't have any symptoms"}); %>
            <%- include('../partials/mark_checkbox', {cb: "__other", onclick: "clearNoSymp", aditionalClass:"questionaireWidth", label: "Other"}); %>
            
            <div><br /><br /><br /><br /><br /><br /></div>


        </div>

        <button class="sendPicFinalLayout" id="sendPicFinal">READY FOR MY RESULTS!</button>
        <button class="sendPicFinalLayout" id="disableAnalyze" style="z-index: 100; background-color: #e7e7e7; cursor: default;">READY FOR MY RESULTS!</button>
        <img id="loadingImg" class="loadingGifLayout" style="width:36px; height: 36px;  z-index: 200; display: none;" src="/img/loading.gif" />

    </div>

    <!-- login with Facebook / Google: -->
    <div id="socialDiv" class="fxd" style=" background-color: #eeeeee; padding: 10px; 
                                            z-index: 500; border-radius: 20px; border:2px solid #e3e3e3;
                                            display:none">
        <div style="font-family: 'Lato', sans-serif; font-weight: 900; font-size: 14px; text-align: center;">To Receive Your Personalized Results</div>
        <br />
        <div    class="g_id_signin" 
                data-type="standard" data-text="continue_with" data-locale="en_US" data-width="280"
                style="left: 20px; z-index: 200;"></div>
        <br />
        <div class="hand" style="width: 230px; 
                                padding-top: 4px; padding-bottom: 3px; padding-left: 25px; padding-right: 25px;
                                background-color: #2473f2; border-radius: 5px;" onclick="fblogin()">
            <img src="/img/facebook.png" style="width: 230px;" />
        </div>
    </div>

    <!-- result div: -->
    <div class="abs resDivLayout" id="resDiv" style="z-index: 100; width:100%; height: 100%; overflow: visible; display: none;">
        <div class="leftOrBottomLayout" style="font-size: 36px; font-family: 'Belleza', sans-serif;">
            <br/> Personal Insights
        </div>

        <div id="scoreSummary" class="leftOrBottomLayout" style="font-size: 24px;font-weight: 100; font-family: 'Lato', sans-serif; font-weight: bold; display: none;">
            <br/> Your analysis score is <span id="scoreSpan"></span>
        </div>

        <!-- progress bar: -->
        <div style="height: 20px;"></div>
        <div id="progressBar" style="height: 60px; display: none;">
            <div id="score_prog" class="abs progressBarLayout" style="height: 37px; border: 1px solid #ffffff; border-radius: 25px; 
                                                                box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.25)">
                <div id="score_prog_inner" class="abs" style="  left: 4px; top: 4px; width: 0%; height: 27px; border: 1px solid #ffffff; 
                                                                border-radius: 25px; background-color: #ff0083;  
                                                                box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.25);
                                                                display: none;"></div>
            </div>
        </div>
        
        <div id="classA" class="leftOrBottomLayoutResults" style="font-size: 24px; font-weight: 100; font-family: 'Lato', sans-serif; display: none;">
            What does it mean? <br /><br />

            It appears that you have entered the perimenopause stage, a natural phase in a woman's life marked by a series of
            hormonal changes that instigate both physical and emotional transformations. During this transitional period, your body
            undergoes shifts in hormone levels, which can influence various aspects of your well-being, including your menstrual
            cycle, skin health, energy levels, and mood. It's important to recognize that these changes are a normal and natural
            part of the hormonal transitions in women's life.
            <br /><a>More about Perimenopause and its symptoms</a>
            <br /><br />
            <button class="discoverTreatLayout" onclick="location.href='./treatments'">DISCOVER YOUR TREATMENT OPTIONS</button>
            <br /><br /><br /><br />
        </div>

        <div id="classB" class="leftOrBottomLayoutResults" style="font-size: 24px; font-weight: 100; font-family: 'Lato', sans-serif; display: none;">
            What does it mean? <br /><br />
            
            According to our analysis, you may be experiencing the beginning stages of Perimenopause which is the transition phase
            into menopause occurring roughly 5-10 years prior to menopause onset. It is a natural phase in a woman's life marked by
            a series of hormonal changes that instigate both physical and emotional transformations. During this transitional
            period, your body undergoes shifts in hormone levels, which can influence various aspects of your well-being, including
            your menstrual cycle, skin health, energy levels, and mood.
            <br /><br />    
            We strongly recommend that you discuss your symptoms with your healthcare provider for further consideration.
            <br /><a>More about Perimenopause and its symptoms</a>
            <br /><br />
            <button class="discoverTreatLayout" onclick="location.href='./treatments'">DISCOVER YOUR TREATMENT OPTIONS</button>
            <br /><br /><br /><br />
        </div>

        <div id="classC" class="leftOrBottomLayoutResults" style="font-size: 24px; font-weight: 100; font-family: 'Lato', sans-serif; display: none;">
            What does it mean? <br /><br />
            
            According to our analysis, you may be experiencing the beginning stages of Perimenopause which is the transition phase
            into menopause occurring roughly 5-10 years prior to menopause onset. It is a natural phase in a woman's life marked by
            a series of hormonal changes that instigate both physical and emotional transformations. During this transitional
            period, your body undergoes shifts in hormone levels, which can influence various aspects of your well-being, including
            your menstrual cycle, skin health, energy levels, and mood.
            <br /><br />
            We strongly recommend that you discuss your symptoms with your healthcare provider for further consideration.
            <br /><a>More about Perimenopause and its symptoms</a>
            <br /><br />
            <button class="discoverTreatLayout" onclick="location.href='./treatments'">DISCOVER YOUR TREATMENT OPTIONS</button>
            <br /><br /><br /><br />
        </div>

        <div id="classD" class="leftOrBottomLayoutResults" style="font-size: 24px; font-weight: 100; font-family: 'Lato', sans-serif; display: none;">
            What does it mean? <br /><br />
            
            According to our analysis, you have yet to begin your perimenopause transition.
            What does it mean? Perimenopause is the transition phase into menopause occurring roughly 5-10 years prior to menopause
            onset. It is a natural phase in a woman's life marked by a series of hormonal changes that instigate both physical and
            emotional transformations. During this transitional period, your body undergoes shifts in hormone levels, which can
            influence various aspects of your well-being, including your menstrual cycle, skin health, energy levels, and mood.
            <br /><br />
            Even though our analysis found that you have yet to begin the perimenopausal transition, we strongly recommend that you
            discuss your symptoms with your healthcare provider for further consideration. Additionally, we invite you to repeat our
            perimenopause analysis in 6-12 months free of charge.

            <br /><a>More about Perimenopause and its symptoms</a>
            <br /><br />
            <button class="discoverTreatLayout" onclick="location.href='./treatments'">DISCOVER YOUR TREATMENT OPTIONS</button>
            <br /><br /><br /><br />
        </div>

        <div id="classYoung" class="leftOrBottomLayoutResults" style="font-size: 24px; font-weight: 100; font-family: 'Lato', sans-serif; display: none;">
        
        </div>

        <script>
            $$("classYoung").innerHTML = $$("classD").innerHTML
        </script>

        <div id="classOld" class="leftOrBottomLayoutResults" style="font-size: 24px; font-weight: 100; font-family: 'Lato', sans-serif; top:-720px; display: none;">
            Based on our analysis, it's likely that you are entering or have already entered the menopause stage. This is a
            significant and natural transition in a woman's life, signaling the end of your reproductive years.
            <br /><br />
            It's important to remember that every woman's journey through menopause is unique. Some women experience symptoms
            earlier, while others may experience them later. As you navigate this stage, you might encounter a variety of physical
            and emotional changes. Hot flashes, night sweats, mood fluctuations, and changes in sleep patterns are some common
            symptoms.
            <br /><br />
            Remember, you're not alone on this journey, and there are many resources and support systems available to help you
            manage any challenges that may arise. Maintaining a healthy lifestyle, regular exercise, and a balanced diet can greatly
            contribute to your well-being during this transition. It's also essential to have open conversations with your
            healthcare provider, who can guide you through this phase and help you make informed decisions about your health.
            <br /><a>More about Perimenopause and its symptoms</a>
            <br /><br />
            <button class="discoverTreatLayout" onclick="location.href='./treatments'">DISCOVER YOUR TREATMENT OPTIONS</button>
            <br /><br /><br /><br />
        </div>
    </div>

    <form id="uploadForm" enctype="multipart/form-data" style="display: none;">
        <input type="file" name="file" id="fileInput" accept="image/jpeg, image/jpg" />
        <input type="text" name="res" id="resInput" style="visibility: hidden;" />
        <input type="text" name="dim" id="dimInput" style="visibility: hidden;"/>
        <input type="text" name="score" id="scoreInput" style="visibility: hidden;"/>
        <input type="text" name="device" id="deviceInput" style="visibility: hidden;"/>
        <button type="submit" id="uploadButton" style="visibility: hidden;">Upload</button>
    </form>

    <script>

        // event listeners:
        // ===============

        const video = $$('videoElement');
        const canvas = $$('canvasElement');
        const canvasToSend = $$('canvasElementToSend');
        const captureButton = $$('capture');
        const recaptureButton = $$('reCapture');
        const sendPicButton = $$('sendPicFinal');

        let pictureTaken = false;
        captureButton.addEventListener('click', (e) => {
            showCanvas (true);
            canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
            canvasToSend.getContext('2d').drawImage(video, 0, 0, canvasToSend.width, canvasToSend.height);
            pictureTaken = true;
        });

        recaptureButton.addEventListener('click', () => {
            showCanvas (false);
        });

        sendPicButton.addEventListener('click', () => { 

            if (getAppMode() === "admin") {
                sendPicAction();
                return;
            }

            showSocialLogin (true);
        });

        $$('uploadForm').addEventListener('submit', (e) => {
            e.preventDefault();

            const fileInput = $$('fileInput');
            const file = fileInput.files[0];
            const res = $$('resInput').value;
            const dim = $$('dimInput').value;
            const score = $$('scoreInput').value
            const device = $$('deviceInput').value;

            const formData = new FormData();
            formData.append('file', file);
            formData.append('res', res);
            formData.append('dim', dim);
            formData.append('score', score)
            formData.append('device', device);

            fetch('/submit', {
                method: 'POST',
                body: formData
            })
            .then(response => response.text())
            .then(result => {
                $$("loadingImg").style.display = "none";
            })
            .catch(error => {
                $$("loadingImg").style.display = "none";
                console.error(error);
                alert (error);
            });
        });

        document.body.addEventListener ('click', (e) => {

            let tgt = e.target;

            if (tgt.id) {
                if (tgt.id === 'showInstructionsMobile' || tgt.id === 'showInstructionsWeb' || tgt.id === 'continueToAnalysis' || tgt.id === 'instructionsDivInner') {
                    return;
                }
            }

            while (tgt != document.body) {

                if (tgt.id === 'instructionsDivInner') {
                    return;
                }
                tgt = tgt.parentElement;
            }

            hideInstructions ();
        });

        const sendPicAction = () => {

            if ((getAppMode () === 'admin' && $$( "fileInput" ).files.length)) {
                $$("loadingImg").style.display = "";

                const formdata = new FormData();
                formdata.append("image", $$( "fileInput" ).files[0]);
                formdata.append("side_image", $$( "fileInput" ).files[0]);
                formdata.append("return_maps", "");
                formdata.append("return_marks", "");
                formdata.append("roi_outline_color", "");
                formdata.append("return_side_results", "");

                console.log ($$( "fileInput" ).files[0]);

                const requestOptions = {
                    method: 'POST',
                    body: formdata,
                    redirect: 'follow',
                    headers: {
                        'ailabapi-api-key': 'YUqRroWHfh78PJmzAfMOHmTIrw6wYeTv7UgI4FZXgdOu35Dl8eMA0Jus9LkayGCv'
                    }
                };

                fetch("https://www.ailabapi.com/api/portrait/analysis/skin-analysis-pro", requestOptions)
                    .then(response => response.text())
                    .then(async (result) => {
                        $$("resInput").value = result;
                        $$("dimInput").value = generateDimJson();
                        $$("deviceInput").value = deviceData();
                        showResults (result);
                    })
                    .then(
                        () => {
                            $$('uploadButton').click();
                        }
                    ) 
                    .catch (error => showResults (error));

                return;
            }

            showSocialLogin(false);
            
            canvasToSend.toBlob ( blob => {

                $$("loadingImg").style.display = "";
                $$("disableAnalyze").style.display = "";
                
                const formdata = new FormData();
                formdata.append("image", blob);
                formdata.append("side_image", blob);
                formdata.append("return_maps", "");
                formdata.append("return_marks", "");
                formdata.append("roi_outline_color", "");
                formdata.append("return_side_results", "");

                const file = new File( [ blob ], "mycanvas.jpg" );
                const dT = new DataTransfer();
                dT.items.add( file );
                $$( "fileInput" ).files = dT.files;

                const requestOptions = {
                    method: 'POST',
                    body: formdata,
                    redirect: 'follow',
                    headers: {
                        'ailabapi-api-key': 'YUqRroWHfh78PJmzAfMOHmTIrw6wYeTv7UgI4FZXgdOu35Dl8eMA0Jus9LkayGCv'
                    }
                };

                fetch("https://www.ailabapi.com/api/portrait/analysis/skin-analysis-pro", requestOptions)
                    .then(response => response.text())
                    .then(async (result) => {
                        //console.log (result);
                        $$("resInput").value = result;
                        $$("dimInput").value = generateDimJson();
                        $$("deviceInput").value = deviceData();
                        showResults (result);
                    })
                    .then(
                        () => {
                            $$('uploadButton').click();
                        }
                    ) 
                    .catch (error => showResults (error));
            
            },"image/jpeg", 1);
        };


        // video streaming handling:
        // ========================

        let mainStream = null;
        let vratio = 0;
        let ellipseRatio = 0;

        if (markable_device === MARKABLE_DEVICES.web) {
            $$("canvasElement").height = $$("canvasElement").width * 3 / 4;
            $$("canvasElementToSend").height = $$("canvasElementToSend").width * 3 / 4;
            vratio = 4 / 3;
            ellipseRatio = 1;
        } else {
            $$("canvasElement").height = $$("canvasElement").width * 4 / 3;
            $$("canvasElementToSend").height = $$("canvasElementToSend").width * 4 / 3;
            vratio = 3 / 4;
            ellipseRatio = 3 / 4.4;
        }

        const startCamera = () => {
            setVideoVisibility ([true, true, false, true]);

            if (navigator.mediaDevices.getUserMedia && getAppMode() !== "admin") {
                $$("loadingImgVid").style.display = "";
                navigator.mediaDevices.getUserMedia({ video: true })
                    .then(function (stream) {
                        video.srcObject = stream;
                        mainStream = stream;
                        // const vsettings = (stream.getVideoTracks()[0].getSettings());
                        // const vwidht = vsettings.width;
                        // const vheight = vsettings.height;
                        // const vratio = vwidht / vheight;

                        //canvasElement.height = Math.round (canvasElement.width / vratio);
                        //canvasToSend.height =  Math.round (canvasToSend.width / vratio);

                        setTimeout (() => {
                            setVideoVisibility ([true, true, true, true]);
                            $$("loadingImgVid").style.display = "none";
                        }, 500);

                        setTimeout (() => {
                            if (!picInstructionShown) {
                                showInstuctions (true);
                            }
                        }, 2500);

                        // draw place holder
                        const phCanvas = $$("placeHolderCanvas");
                        const phx = phCanvas.getContext("2d");

                        phCanvas.height = Math.round(phCanvas.width / vratio);

                        phx.beginPath();
                        phx.ellipse(phCanvas.width / 2, 160 / ellipseRatio, 290 / ellipseRatio, 320 / ellipseRatio, 0, 2 * Math.PI, false);
                        phx.strokeStyle = "rgba(0,0,0,0.4)";
                        phx.lineWidth = 395 / ellipseRatio;
                        phx.stroke();
                        phx.closePath();

                        adjuster = markable_device === MARKABLE_DEVICES.web ? "w" : "m"

                        $$("captureWrapper").style.left = adjuster === "m" ? "-10px": "10px";
                        $$("captureWrapper").style.top = `${phCanvas.height - 75 + 30}px`;

                        $$("capture").style.left = adjuster === "m" ? `${phCanvas.width / 2 - 85}px` : `${phCanvas.width / 2 - 65}px`;
                        $$("capture").style.top = `${phCanvas.height - 26}px`;

                        $$("reCapture").style.left = adjuster === "m" ?  `${phCanvas.width / 2 - 195}px`: `${phCanvas.width / 2 - 175}px`;
                        $$("reCapture").style.top = `${phCanvas.height - 26}px`;

                        $$("sendPic").style.left = adjuster === "m" ?  `${phCanvas.width / 2 + 18}px` : `${phCanvas.width / 2 + 38}px`;
                        $$("sendPic").style.top = `${phCanvas.height - 26}px`;

                        $$("vidDivHowtoMobile").style.left = adjuster === "m" ?  "10px" : "30px";
                        $$("vidDivHowtoMobile").style.top = `${phCanvas.height + 40}px`

                    })
                    .catch(function (error) {
                        alert (`The use of camera for this website has been blocked. \nin order to allow the use of camera - \ngo to settings -> privacy and security -> site settings -> camera,  \nand chose "allow"`);
                        console.log("Something went wrong!");
                        console.log(error);
                    });
         }

         if (getAppMode() === "admin") {
            $$ ("uploadForm").style.position = "fixed";
            $$ ("uploadForm").style.zIndex = 200;
            $$ ("uploadForm").style.display = "";

            const refobj = $$ ("vidDiv")
            const refrect = refobj.getBoundingClientRect();

            $$ ("uploadForm").style.top = `${refrect.top}px`;
            $$ ("uploadForm").style.left = `${refrect.left + 30}px`;

            setVideoVisibility ([false, false, false, false]);

            const nxt = document.createElement("BUTTON");
            nxt.textContent = 'Analyze Image';
            nxt.style.position = "fixed";

            nxt.style.top = `${refrect.top + 40}px`;
            nxt.style.left = `${refrect.left + 30}px`;
            nxt.style.zIndex = 200;

            nxt.addEventListener('click', () => {
                if ($$('fileInput').files.length) {
                    $$ ("uploadForm").style.display = "none";
                    showCheckboxes ();
                } else {
                    alert ("no files chosen");
                }
            });

            $$ ("uploadForm").appendChild(nxt);
         }
    }

    </script>

    <!-- facebook and google: -->
    <!--=========================================-->

    socialInfo = {}

    <!-- facebook -->
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '811507054312899',
                autoLogAppEvents: true,
                xfbml: true,
                version: 'v17.0'
            });
        };
    </script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>

    <script>
        let facebookData = null;
        const fblogin = () => {
            FB.login(function (response) {
                if (response.authResponse) {
                    console.log ('Welcome! Fetching your information.... ');
                    FB.api('/me?fields=name,email', function (response) {
                        console.log('Good to see you, ' + response.name + '.');
                        console.log (response)
                        FB.api (`/${response.id}?fields=id,name,email`,'GET',{}, response => console.log (response));

                        facebookData = response;

                        sendPicAction();
                    });
                } else {
                    console.log('User cancelled login or did not fully authorize.');
                }
            });
        }
    </script>

    <!-- google -->
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <div id="g_id_onload"
         data-client_id="392522309838-k8k4v2uk1tqmof77h3ut2l4cgs0vbvon.apps.googleusercontent.com"
         data-callback="handleCredentialResponse"  
         data-locale="en_US" 
         data-auto_prompt="false">
    </div>

    <script>
        let googleData = null;
        function handleCredentialResponse(response) {
            
            function decodeJwtResponse(token) {
                var base64Url = token.split('.')[1];
                var base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
                var jsonPayload = decodeURIComponent(window.atob(base64).split('').map(function (c) {
                    return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
                }).join(''));

                return JSON.parse(jsonPayload);
            }

            const responsePayload = decodeJwtResponse(response.credential);

            console.log("ID: " + responsePayload.sub);
            console.log('Full Name: ' + responsePayload.name);
            console.log('Given Name: ' + responsePayload.given_name);
            console.log('Family Name: ' + responsePayload.family_name);
            console.log("Image URL: " + responsePayload.picture);
            console.log("Email: " + responsePayload.email);

            googleData = responsePayload;
            
            sendPicAction();
        }
    </script>

</body>
</html>


