<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="./img/fab.ico">
    <meta content='width=device-width, initial-scale=0.75, maximum-scale=0.75, user-scalable=yes' name='viewport' />
    <meta name="google-signin-client_id" content="392522309838-k8k4v2uk1tqmof77h3ut2l4cgs0vbvon.apps.googleusercontent.com">
    <title></title>
    <style>
        .checkDivWrapper {
            cursor: pointer;
            color: #333333;
            font-weight: 400;
            word-wrap: break-word;  
            padding-top: 11px;     
            padding-bottom: 11px;     
            padding-left: 8px;    
        }

        @media only screen and (max-width: 1000px) { /* mobile */

            div.introTextLayout {
                left:10px;
                top: 635px;
            }

            img.clipLayout {
                right: 10px;
                top: 0px;
                width: 460px; 
                height: auto;
            }

            div.leftDivLayout {
                left: 18px;
                top:800px;
            }

            div.checkboxGridLayout {
                left:10px;
                top: 80px;
                width: 460px;
            }

            div.checkBoxWrapperLayout {
                display: grid; 
                grid-template-columns: 1fr; 
                grid-gap: 14px;
                left: 5px; 
                top:90px; 
            }

            div.checkBoxCaptionLayout {
                left: 10px;
                top:0px;
            }

            div.mediaLayout {
                left: 10px;
                top: 90px;
            }

            div.mediaLayoutAfterRes {
                left: 10px; 
                top: 50px; 
            }

            div.resDivLayout {
                left:20px;
                top:725px;
            }

            div.leftOrBottomLayout { /* left side on web, bottom side on mobile */
                width:95%
            }

            div.leftOrBottomLayoutNarrow { /* left side on web, bottom side on mobile */
                width:100%
            }

            div.mainCaption {
                font-size: 32px;
            }

            div.subMainCaption {
                font-size: 28px;
            }

            div.instructionsLayout {
                width:85%;
            }

            div.progressBarLayout {
                width:90%
            }

            button.startButtonLayout {
                position: fixed;
                bottom:10px;
                left: 10px;
                width:96%;
                height: 50px
            }

            button.sendPicFinalLayout {
                position: fixed;
                left: 20px;
                bottom: 50px;
                width: 95%;
                height: 50px;
            }

            button.discoverTreatLayout {
                width: 95%;
                height: 50px;
            }

            img.loadingGifLayout {
                position: fixed;
                right: 250px;
                bottom: 100px;
            }
        }

        /* ===================================================================================================================================== */

        @media only screen and (min-width: 1000px) { /* web */

            div.introTextLayout {
                left: 100px; 
                top: 170px;
            }

            img.clipLayout {
                right: 120px;
                top: 100px;
                width: 30%;
                height: auto;
            }

            div.leftDivLayout {
                left: 100px;
                top:150px;
            }

            div.checkboxGridLayout {
                right: 400px; 
                top: 130px;
                width: 920px;
                height: 100%;
            }

            div.checkBoxWrapperLayout {
                display: grid; 
                grid-template-columns: 1fr 1fr; 
                grid-gap: 24px;
                left: 5px; 
                top:90px; 
            }

            div.checkBoxCaptionLayout {
                left: 5px;
                top:15px;
            }

            div.mediaLayout {
                right: 60px; 
                top: 115px; 
            }

            div.mediaLayoutAfterRes {
                right: 100px; 
                top: 120px; 
            }

            div.resDivLayout {
                left:100px;
                top:130px;
            }

            div.leftOrBottomLayout { /* left side on web, bottom side on mobile */
                width:55%
            }

            div.leftOrBottomLayoutNarrow { /* left side on web, bottom side on mobile */
                width:45%
            }

            div.mainCaption {
                font-size: 42px;
            }

            div.subMainCaption {
                font-size: 30px;
            }

            div.instructionsLayout {
                width:45%;
            }

            div.progressBarLayout {
                width:32%
            }

            button.startButtonLayout {
                width: 550px; 
                height: 50px; 
            }

            button.sendPicFinalLayout {
                position: absolute;
                left: 735px;
                top: 600px; 
                width: 260px;
                height: 40px;
            }

            button.discoverTreatLayout {
                width: 380px;
                height: 40px;
            }

            img.loadingGifLayout {
                position: absolute;
                right: 20px;
                bottom: 280px;
            }
        }
    </style>

    <script src="./scripts/score.js"></script>
    <script src="./scripts/mark_checkboxes.js"></script>

    <script>
        const getStarted = () => {

            moveUp();

            $$("introDiv").style.display = "none";
            $$("vidDiv").style.display = "";
            $$("leftDiv").style.display = "";
        }

        const showCanvas = show => {
            $$("canvasElement").style.display = show ? "" : "none";
            $$("videoElement").style.display = show ? "none" : "";
            $$("capture").style.display = show ? "none" : "";
            $$("reCapture").style.display = show ? "" : "none";
            $$("sendPic").style.display = show ? "" : "none";
        }

        const showCheckboxes = () => {

            moveUp();

            try {
                mainStream.getTracks().forEach((track) => {
                    if ((track.readyState === 'live' || track.readyState === 'ended') && track.kind === 'video') {
                        track.stop();
                    }
                });
            } catch (e) {
                console.log(e);
            }

            $$("mediaDiv").style.display = "none";
            $$("leftDiv").style.display = "none";
            $$("vidDiv").style.display = "none";
            $$("checkDiv").style.display = "";
        }

        const showResults = (res) => {

            moveUp();

            $$("scoreInput").value = calcScore (res, getUserInfo());

            $$("resDiv").style.display = "";
            $$("vidDiv").style.display = "";
            $$("mediaDiv").style.display = "";
            $$("canvasElement").style.display = "";
            $$("videoElement").style.display = "none";
            $$("checkDiv").style.display = "none";
            $$("leftDiv").style.display = "none";
            $$("reCapture").style.display = "none";
            $$("sendPic").style.display = "none";
            $$("placeHolderCanvas").style.display = "none";
            $$("captureWrapper").style.display = "none";

            $$("vidDiv").classList.remove ("mediaLayout");
            $$("vidDiv").classList.add ("mediaLayoutAfterRes");

            const scoreJson = JSON.parse ($$("scoreInput").value);

            const classification = scoreJson.class;
            const scoreToDisplay = (classification === 'Young') ? 20 : scoreJson.total_score_empiric;

            $$("scoreSpan").innerText = scoreToDisplay;

            // progress bar:
            if (classification !== "Old") {
                $$("progressBar").style.display = "";
                $$("scoreSummary").style.display = "";
                $$("score_prog_inner").style.display = "";
                $$("score_prog_inner").spread = 0;
                $$("score_prog_inner").interval = setInterval(() => {
                    $$("score_prog_inner").spread++;
                    if ($$("score_prog_inner").spread < scoreToDisplay) {
                        $$("score_prog_inner").style.width = `${$$("score_prog_inner").spread * .99}%`;
                    } else {
                        $$("score_prog_inner").style.width = `${scoreToDisplay * .99}%`;
                        clearInterval($$("score_prog_inner").interval);
                    }

                }, 10);
            }
            //====================================================================


            switch (classification) {
                case "Young":
                    $$("classD").style.display = "";
                    break;
                case "Old":
                    $$("classX").style.display = "";
                    break;
                default: // A, B, C or D
                    $$(`class${classification}`).style.display = "";
                    break;
            }


            //$$("dateSpanRes").innerText = new Intl.DateTimeFormat('en-US', { dateStyle: 'full', timeStyle: 'long' }).format(new Date());

            //alert (calcScore (res, getCheckCount()));
            //$$("resCanvas").style.display = "";

            //$$("resCanvas").style.left = $$("canvasElement").style.left;
            //$$("resCanvas").style.top = $$("canvasElement").style.top;

            // $$("canvasElement").width = "512";
            // $$("canvasElement").height = "512";

            //$$("canvasElement").getContext('2d').drawImage($$("canvasElementToSend"), 0, 0, 512, 512);

            // const resJson = JSON.parse (res);
            // const resCanvas = $$("resCanvas");
            // const ctx = resCanvas.getContext("2d");

            // Array.from (resJson.result.brown_spot.rectangle).forEach(element => {
                
            //     ctx.beginPath();
            //     ctx.ellipse(element.left / 8, element.top / 8, element.width / 8, element.height / 8, 0, 2 * Math.PI, false);
            //     ctx.fillStyle = "green";
            //     ctx.fill();
            //     ctx.closePath();
            // });
        }

        const generateDimJson = () => {
            return `{"width" : ${canvasToSend.width}, "height" : ${canvasToSend.height}}`;
        }

        const clearNoSymp = (check) => {
            if (check.checked) {
                $$("no_symp").checked = false;
                animateCb (mark_cb_get_outer_from_cb ($$("no_symp")), $$("no_symp"));
            }

            toggleAnalyzeDisableness ();
        }

        const clearChecks = () => {
            const checks = document.querySelectorAll('input[type="checkbox"]:checked');
            checks.forEach (check => {
                if (check.id != 'no_symp') {
                    check.checked = false;
                    animateCb (mark_cb_get_outer_from_cb (check), check);
                }
            });

            toggleAnalyzeDisableness ();
        }

        const getSymptomList = () => {
            const checks = document.querySelectorAll('input[type="checkbox"]:checked');
            let arr = [];
            checks.forEach (check => {
                if (check.id === 'no_symp') {
                    return [];
                } else {
                    arr.push (check.id.replace ("cb", "symp"));
                }
            });
            return arr;
        }

        const getUserInfo = () => {
            const info = {};
            info.symptoms = getSymptomList ();
            info.age = $$("age").value
            info.other = ($$("__other").checked) ? $$("__other_text").value : "";
            return info;
        }

        const toggleAnalyzeDisableness = () => {
            const checks = document.querySelectorAll('input[type="checkbox"]:checked');
            const disdiv = $$("disableAnalyze");
            disdiv.style.display = checks.length && $$("age").value ? "none" : "";
        }
    </script>
</head>

<body class="bgImage">

    <%- include('../partials/header'); %>

    <!-- indroduction: -->
    <div id="introDiv">
        <div class="abs introTextLayout" style="font-family: 'Merriweather', serif;">
            <div class="leftOrBottomLayoutNarrow mainCaption" style="line-height: 140%;">
                Are you feeling out of whack? Like everything that used to come so easy is suddenly a struggle?
            </div>

            <div class="leftOrBottomLayoutNarrow subMainCaption" style="font-weight: 100; font-family: 'Lato', sans-serif; line-height: 140%;">
                <br />
                Brain fog, extreme fatigue, and even depression are just a few of the many troubling symptoms of perimenopause. 
                Our AI biomarker assessment swiftly provides perimenopause insights and treatment suggestions
                <span class="hideForMobile"><br /><br /></span>
                <div class="onlyForMobile">
                    <a style="font-size: 20px;">how does it work?</a>
                </div>
                <span class="onlyForMobile">
                    <br /><br /><br />
                </span>
            </div>
            
            <!-- 2 fader divs: -->
            <div class="onlyForMobile">
                <div class="fxd"
                    style="left: 0px; bottom: 0px; width: 100%; height: 65px; background-color: #ffffff;"></div>
                <div class="fxd" style="left: 0px; bottom: 50px; width: 100%; height: 120px; 
                                            background-image:  linear-gradient( rgba(255,255,255,0), rgba(255,255,255,1));"></div>
            </div>
            <button id="letsGetStarted" class="startButtonLayout" style="font-size: 28px; z-index: 100;"
                onclick="getStarted()">GET INSTANT ANALYSIS</button>
            <div class="hideForMobile">
                <br />
                <a style="font-size: 22px;">how does it work?</a>
            </div>
        </div>

        <img src="./img/clip.gif" class="abs clipLayout" width="50%" height="auto" />
    </div>

    <!-- video and canvas -->
    <div id="vidDiv" class="abs mediaLayout" style="width:550px; height: 600px; display: none;">
  
        <div id="mediaDiv">
            <div id="videoWrapper" class="abs" style="left:10px; top: 30px; margin: 0px; padding: 0px;">
                <video  id="videoElement" autoplay="true" loop="true" muted="true" playsinline="true" width="480" height="auto" style="background-color: #ffffff; transform: scale(-1, 1); -webkit-transform: scale(-1, 1); -moz-transform: scale(-1, 1);" ></video>
            </div>
            <canvas id="canvasElement" width="480" class="abs" style="top:30px; left: 10px; transform: scale(-1, 1); -webkit-transform: scale(-1, 1); -moz-transform: scale(-1, 1)"></canvas>
            <canvas id="canvasElementToSend" width="960" style="display:none; transform: scale(-1, 1); -webkit-transform: scale(-1, 1); -moz-transform: scale(-1, 1)"></canvas>

            <canvas  id="placeHolderCanvas"  width="480" class="abs" style="top:30px; left: 10px; z-index: 100;"></canvas>

            <div id="captureWrapper" class="abs" style="width:480px; height:75px; background-color: rgba(0, 0, 0, 0.5);"></div>
            <button id="capture" class="abs hand selfieButton" style="z-index: 400;">Take Selfie</button>
            <button class="abs hand selfieButton" id="reCapture" style="z-index: 400; display: none;"> Retake</button>
            <button class="abs hand selfieButton" id="sendPic" style="z-index: 400; display: none;" onclick="showCheckboxes()"> Analyze Selfie</button>
            <!--canvas id="resCanvas" class="abs" width="512" height="512" style="display: none;"></canvas-->
        </div>
    </div>

    <!-- checkbox div -->
    <div id="checkDiv" class="abs checkboxGridLayout" style="display: none;">
        <div class="abs checkBoxCaptionLayout" style="font-family: 'Merriweather', serif; font-size: 22px; text-align: left; width: 100%; color:#333333; border: 1px solid #ffffff;">
            While We Analyze Your Biomarkers.... Please Check All That Applies To You
        </div>
        <div class="abs checkBoxWrapperLayout" style="font-size: 16px; font-family: 'Lato', sans-serif; vertical-align: top;">
            <%- include('../partials/mark_checkbox', {cb: "cb1", onclick: "clearNoSymp", label: "New onset heavy and/or longer flow"}); %>
            <%- include('../partials/mark_checkbox', {cb: "cb2", onclick: "clearNoSymp", label: "Shorter menstrual cycles (up to 25 days)"}); %>
            <%- include('../partials/mark_checkbox', {cb: "cb3", onclick: "clearNoSymp", label: "New sore, swollen or lumpy breasts"}); %>
            <%- include('../partials/mark_checkbox', {cb: "cb4", onclick: "clearNoSymp", label: "New mid-sleep wakening"}); %>
            <%- include('../partials/mark_checkbox', {cb: "cb5", onclick: "clearNoSymp", label: "New or markedly increased migraine headaches"}); %>
            <%- include('../partials/mark_checkbox', {cb: "cb6", onclick: "clearNoSymp", label: "Increased cramps"}); %>
            <%- include('../partials/mark_checkbox', {cb: "cb7", onclick: "clearNoSymp", label: "Onset of night sweats, in particular premenstrually"}); %>
            <%- include('../partials/mark_checkbox', {cb: "cb8", onclick: "clearNoSymp", label: "New/increased premenstrual mood swings"}); %>
            <%- include('../partials/mark_checkbox', {cb: "cb9", onclick: "clearNoSymp", label: "Weight gain without changes in exercise or eating"}); %>
            <%- include('../partials/mark_checkbox', {cb: "no_symp", onclick: "clearChecks", label: "I don't have any symptoms"}); %>
            <%- include('../partials/mark_checkbox', {cb: "__other", onclick: "clearNoSymp", label: "Other"}); %>
            
            <div id="ageWrapper" class="checkDivWrapper" style="display: flex; flex-direction: row; border: 2px solid #f7f7f7; border-radius: 5px; background-color: #f7f7f7; width:470px; cursor: default;">
                <div style="padding-left: 8px; padding-top: 5px;">What is your age?<span style="color: #ff0082;">*&nbsp;</span></div>
                <input id="age" type="number" style=" border-top: none; border-left: none; 
                                                    border-right: none; border-bottom: 2px solid #ff0082;
                                                    background-color: #f7f7f7; font-family: 'Lato', sans-serif;
                                                    font-size: 18px;" max="140">
                <script>
                    $$("age").addEventListener("change", (event) => {
                        $$("ageWrapper").style.backgroundColor = $$("age").value ? "#ffffff" : "#f7f7f7";
                        $$("age").style.backgroundColor = $$("age").value ? "#ffffff" : "#f7f7f7";
                        toggleAnalyzeDisableness();
                    });

                    $$("age").addEventListener("keyup", (event) => {
                        $$("ageWrapper").style.backgroundColor = $$("age").value ? "#ffffff" : "#f7f7f7";
                        $$("age").style.backgroundColor = $$("age").value ? "#ffffff" : "#f7f7f7";
                        toggleAnalyzeDisableness();
                    });

                    $$("age").addEventListener("mousedown", (event) => {
                        $$("ageWrapper").style.backgroundColor = $$("age").value ? "#ffffff" : "#f7f7f7";
                        $$("age").style.backgroundColor = $$("age").value ? "#ffffff" : "#f7f7f7";
                        toggleAnalyzeDisableness();
                    });
                </script>
            </div>

            <div><br /><br /><br /><br /><br /><br /></div>


        </div>

        <button class="sendPicFinalLayout" id="sendPicFinal">READY FOR MY RESULTS!</button>
        <button class="sendPicFinalLayout" id="disableAnalyze" style="z-index: 100; background-color: #e7e7e7; cursor: default;" onclick="fblogin()">READY FOR MY RESULTS!</button>
        <img id="loadingImg" class="loadingGifLayout" style="width:36px; height: 36px;  z-index: 200; display: none;" src="./img/loading.gif" />

    </div>

    <!-- left div -->
    <div id="leftDiv" class="abs leftDivLayout" style="width:100%; height: 640px; display:none;">
        <div class="leftOrBottomLayout" style="font-family: 'Merriweather', serif; font-size: 32px; font-weight: 900; text-align: left; width: 100%;">
            Analyze Your Biomarkers
            <br /><br />
        </div>
        <div  class="leftOrBottomLayout" style="font-family: 'Lato', sans-serif; font-size: 28px; text-align: left;">
            Take a selfie and get your biomarker analysis results instantly 
            <br />
            <a href="javascript:void(0)">Why test my biomarkers</a>
            <br /><br />
        </div>
        <div class="abs instructionsLayout" style="height: 230px; padding:20px; background-color: #f7f7f7; border: 2px solid #f8f0f3; border-radius: 5px;;">
            <div class="abs" style="left: 20px; top: 22px; font-family: 'Lato', sans-serif; font-size: 24px; font-weight: 900; padding-left: 0px;">
                Before You Take Your Picture
            </div>
            <div class="abs" style="left: 20px; top: 67px; font-family: 'Lato', sans-serif; font-size: 18px;">
                <img class="abs" style="left: 0px; top:5px;" src="./img/vsign.png" width="30" height="auto" />
                <div class="abs" style="left: 40px; top:10px; width: 360px;">Remove your glasses</div>
            </div>
            <div class="abs" style="left: 20px; top: 117px; font-family: 'Lato', sans-serif; font-size: 18px;">
                <img class="abs" style="left: 0px; top: 5px;" src="./img/vsign.png" width="30" height="auto" />
                <div class="abs" style="left: 40px; top:10px; width: 360px;">Remove your makeup</div>
            </div>
            <div class="abs" style="left: 20px; top: 167px; font-family: 'Lato', sans-serif; font-size: 18px;">
                <img class="abs" style="left: 0px; top: 5px;" src="./img/vsign.png" width="30" height="auto" />
                <div class="abs" style="left: 40px; top:10px; width: 360px;">Ensure proper lighting</div>
            </div>
            <div class="abs" style="left: 20px; top: 217px; font-family: 'Lato', sans-serif; font-size: 18px;">
                <img class="abs" style="left: 0px; top: 5px; " src="./img/vsign.png" width="30" height="auto" />
                <div class="abs" style="left: 40px; top:10px; width: 360px;">Face directly at camera</div>
            </div>
        </div>
    </div>

    <div class="abs resDivLayout" id="resDiv" style="z-index: 100; width:100%; height: 100%; overflow: visible; display: none;">
        <div class="leftOrBottomLayout" style="font-size: 36px; font-family: 'Merriweather', serif;">
            Personal Insights
        </div>

        <div id="scoreSummary" class="leftOrBottomLayout" style="font-size: 24px;font-weight: 100; font-family: 'Lato', sans-serif; font-weight: bold; display: none;">
            <br/> Your analysis score is <span id="scoreSpan"></span>
        </div>

        <!-- progress bar: -->
        <div style="height: 40px;"></div>
        <div id="progressBar" style="height: 80px; display: none;">
            <div id="score_prog" class="abs progressBarLayout" style="height: 37px; border: 1px solid #ffffff; border-radius: 25px; 
                                                                box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.25)">
                <div id="score_prog_inner" class="abs" style="  left: 4px; top: 4px; width: 0%; height: 27px; border: 1px solid #ffffff; 
                                                                border-radius: 25px; background-color: #ff0083;  
                                                                box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.25);
                                                                display: none;"></div>
            </div>
        </div>
        
        <div id="classA" class="leftOrBottomLayout" style="font-size: 24px; font-weight: 100; font-family: 'Lato', sans-serif; display: none;">
            What does it mean? <br /><br />

            It appears that you have entered the perimenopause stage, a natural phase in a woman's life marked by a series of
            hormonal changes that instigate both physical and emotional transformations. During this transitional period, your body
            undergoes shifts in hormone levels, which can influence various aspects of your well-being, including your menstrual
            cycle, skin health, energy levels, and mood. It's important to recognize that these changes are a normal and natural
            part of the hormonal transitions in women's life.
            <br /><a>More about Perimenopause and its symptoms</a>
            <br /><br />
            <button class="discoverTreatLayout">DISCOVER YOUR TREATMENT OPTIONS</button>
            <br /><br /><br /><br />
        </div>

        <div id="classB" class="leftOrBottomLayout" style="font-size: 24px; font-weight: 100; font-family: 'Lato', sans-serif; display: none;">
            What does it mean? <br /><br />
            
            According to our analysis, you may be experiencing the beginning stages of Perimenopause which is the transition phase
            into menopause occurring roughly 5-10 years prior to menopause onset. It is a natural phase in a woman's life marked by
            a series of hormonal changes that instigate both physical and emotional transformations. During this transitional
            period, your body undergoes shifts in hormone levels, which can influence various aspects of your well-being, including
            your menstrual cycle, skin health, energy levels, and mood.
            <br /><br />    
            We strongly recommend that you discuss your symptoms with your healthcare provider for further consideration.
            <br /><a>More about Perimenopause and its symptoms</a>
            <br /><br />
            <button class="discoverTreatLayout">DISCOVER YOUR TREATMENT OPTIONS</button>
            <br /><br /><br /><br />
        </div>

        <div id="classC" class="leftOrBottomLayout" style="font-size: 24px; font-weight: 100; font-family: 'Lato', sans-serif; display: none;">
            What does it mean? <br /><br />
            
            According to our analysis, you may be experiencing the beginning stages of Perimenopause which is the transition phase
            into menopause occurring roughly 5-10 years prior to menopause onset. It is a natural phase in a woman's life marked by
            a series of hormonal changes that instigate both physical and emotional transformations. During this transitional
            period, your body undergoes shifts in hormone levels, which can influence various aspects of your well-being, including
            your menstrual cycle, skin health, energy levels, and mood.
            <br /><br />
            We strongly recommend that you discuss your symptoms with your healthcare provider for further consideration.
            <br /><a>More about Perimenopause and its symptoms</a>
            <br /><br />
            <button class="discoverTreatLayout">DISCOVER YOUR TREATMENT OPTIONS</button>
            <br /><br /><br /><br />
        </div>

        <div id="classD" class="leftOrBottomLayout" style="font-size: 24px; font-weight: 100; font-family: 'Lato', sans-serif; display: none;">
            What does it mean? <br /><br />
            
            According to our analysis, you have yet to begin your perimenopause transition.
            What does it mean? Perimenopause is the transition phase into menopause occurring roughly 5-10 years prior to menopause
            onset. It is a natural phase in a woman's life marked by a series of hormonal changes that instigate both physical and
            emotional transformations. During this transitional period, your body undergoes shifts in hormone levels, which can
            influence various aspects of your well-being, including your menstrual cycle, skin health, energy levels, and mood.
            <br /><br />
            Even though our analysis found that you have yet to begin the perimenopausal transition, we strongly recommend that you
            discuss your symptoms with your healthcare provider for further consideration. Additionally, we invite you to repeat our
            perimenopause analysis in 6-12 months free of charge.

            <br /><a>More about Perimenopause and its symptoms</a>
            <br /><br />
            <button class="discoverTreatLayout">DISCOVER YOUR TREATMENT OPTIONS</button>
            <br /><br /><br /><br />
        </div>

        <div id="classX" class="leftOrBottomLayout" style="font-size: 24px; font-weight: 100; font-family: 'Lato', sans-serif; display: none;">
            Based on our analysis, it's likely that you are entering or have already entered the menopause stage. This is a
            significant and natural transition in a woman's life, signaling the end of your reproductive years.
            <br /><br />
            It's important to remember that every woman's journey through menopause is unique. Some women experience symptoms
            earlier, while others may experience them later. As you navigate this stage, you might encounter a variety of physical
            and emotional changes. Hot flashes, night sweats, mood fluctuations, and changes in sleep patterns are some common
            symptoms.
            <br /><br />
            Remember, you're not alone on this journey, and there are many resources and support systems available to help you
            manage any challenges that may arise. Maintaining a healthy lifestyle, regular exercise, and a balanced diet can greatly
            contribute to your well-being during this transition. It's also essential to have open conversations with your
            healthcare provider, who can guide you through this phase and help you make informed decisions about your health.
            <br /><a>More about Perimenopause and its symptoms</a>
            <br /><br />
            <button class="discoverTreatLayout">DISCOVER YOUR TREATMENT OPTIONS</button>
            <br /><br /><br /><br />
        </div>
    </div>

    <form id="uploadForm" enctype="multipart/form-data" style="display: none;">
        <input type="file" name="file" id="fileInput" />
        <input type="text" name="res" id="resInput" />
        <input type="text" name="dim" id="dimInput" />
        <input type="text" name="score" id="scoreInput" />
        <button type="submit" id="uploadButton">Upload</button>
    </form>

    <script>

        // event listeners:
        // ===============

        const video = $$('videoElement');
        const canvas = $$('canvasElement');
        const canvasToSend = $$('canvasElementToSend');
        const captureButton = $$('capture');
        const recaptureButton = $$('reCapture');
        const sendPicButton = $$('sendPicFinal');

        captureButton.addEventListener('click', () => {
            showCanvas (true);
            canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
            canvasToSend.getContext('2d').drawImage(video, 0, 0, canvasToSend.width, canvasToSend.height);
        });

        recaptureButton.addEventListener('click', () => {
            showCanvas (false);
        });

        sendPicButton.addEventListener('click', () => {
            
            canvasToSend.toBlob ( blob => {

                $$("loadingImg").style.display = "";
                $$("disableAnalyze").style.display = "";
                
                const formdata = new FormData();
                formdata.append("image", blob);
                formdata.append("side_image", blob);
                formdata.append("return_maps", "");
                formdata.append("return_marks", "");
                formdata.append("roi_outline_color", "");
                formdata.append("return_side_results", "");

                const file = new File( [ blob ], "mycanvas.jpg" );
                const dT = new DataTransfer();
                dT.items.add( file );
                $$( "fileInput" ).files = dT.files;

                const requestOptions = {
                    method: 'POST',
                    body: formdata,
                    redirect: 'follow',
                    headers: {
                        'ailabapi-api-key': 'VDAp3sCkYwcqEyDES40SXl625sT6QFpc3efjGoHmBTf9QKKhtRvjUVdrmZP8O7Lw'
                    }
                };
                
                console.log("requestOptions:");
                console.log(requestOptions);

                fetch("https://www.ailabapi.com/api/portrait/analysis/skin-analysis-pro", requestOptions)
                    .then(response => response.text())
                    .then(async (result) => {
                        //console.log (result);
                        $$("resInput").value = result;
                        $$("dimInput").value = generateDimJson();
                        showResults (result);
                    })
                    .then(
                        () => {
                            $$('uploadButton').click();
                        }
                    ) 
                    .catch (error => showResults (error));
            
            },"image/jpeg", 1);
        });

        $$('uploadForm').addEventListener('submit', (e) => {
            e.preventDefault();

            const fileInput = $$('fileInput');
            const file = fileInput.files[0];
            const res = $$('resInput').value;
            const dim = $$('dimInput').value;
            const score = $$('scoreInput').value

            const formData = new FormData();
            formData.append('file', file);
            formData.append('res', res);
            formData.append('dim', dim);
            formData.append('score', score)

            fetch('/submit', {
                method: 'POST',
                body: formData
            })
            .then(response => response.text())
            .then(result => {
                $$("loadingImg").style.display = "none";
            })
            .catch(error => {
                console.error(error);
            });
        });

        let mainStream = null;
        let vratio = 0;
        let ellipseRatio = 0;

        if (screen.width > 1000) {
            $$("canvasElement").height = $$("canvasElement").width * 3 / 4;
            $$("canvasElementToSend").height = $$("canvasElementToSend").width * 3 / 4;
            vratio = 4 / 3;
            ellipseRatio = 1;
        } else {
            $$("canvasElement").height = $$("canvasElement").width * 4 / 3;
            $$("canvasElementToSend").height = $$("canvasElementToSend").width * 4 / 3;
            vratio = 3 / 4;
            ellipseRatio = 3 / 4.4;
        }

        //const video = $$("videoElement");

        if (navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia({ video: true })
                .then(function (stream) {
                    video.srcObject = stream;
                    mainStream = stream;
                    // const vsettings = (stream.getVideoTracks()[0].getSettings());
                    // const vwidht = vsettings.width;
                    // const vheight = vsettings.height;
                    // const vratio = vwidht / vheight;

                    //canvasElement.height = Math.round (canvasElement.width / vratio);
                    //canvasToSend.height =  Math.round (canvasToSend.width / vratio);

                    // draw place holder
                    const phCanvas = $$("placeHolderCanvas");
                    const phx = phCanvas.getContext("2d");

                    phCanvas.height = Math.round(phCanvas.width / vratio);

                    phx.beginPath();
                    phx.ellipse(phCanvas.width / 2, 160 / ellipseRatio, 290 / ellipseRatio, 320 / ellipseRatio, 0, 2 * Math.PI, false);
                    phx.strokeStyle = "rgba(0,0,0,0.4)";
                    phx.lineWidth = 395 / ellipseRatio;
                    phx.stroke();
                    phx.closePath();

                    $$("captureWrapper").style.left = "10px";
                    $$("captureWrapper").style.top = `${phCanvas.height - 75 + 30}px`;

                    $$("capture").style.left = `${phCanvas.width / 2 - 65}px`;
                    $$("capture").style.top = `${phCanvas.height - 26}px`;

                    $$("reCapture").style.left = `${phCanvas.width / 2 - 175}px`;
                    $$("reCapture").style.top = `${phCanvas.height - 26}px`;

                    $$("sendPic").style.left = `${phCanvas.width / 2 + 38}px`;
                    $$("sendPic").style.top = `${phCanvas.height - 26}px`;
                })
                .catch(function (error) {
                    console.log("Something went wrong!");
                    console.log(error);
                });
        }


    </script>

    <!-- facebook and google: -->
    <!--=========================================-->

    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '811507054312899',
                autoLogAppEvents: true,
                xfbml: true,
                version: 'v17.0'
            });
        };
    </script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>

    <script>

        const fblogin = () => {
            FB.login(function (response) {
                if (response.authResponse) {
                    console.log ('Welcome! Fetching your information.... ');
                    console.log (response)
                    FB.api('/me?fields=name,email', function (response) {
                        console.log('Good to see you, ' + response.name + '.');
                        console.log(`/${response.id}?fields=id,name,email`);
                        FB.api (`/${response.id}?fields=id,name,email`,'GET',{}, response => console.log (response));
                    });
                } else {
                    console.log('User cancelled login or did not fully authorize.');
                }
            });
        }

    </script>

    
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <div id="g_id_onload"
         data-client_id="392522309838-k8k4v2uk1tqmof77h3ut2l4cgs0vbvon.apps.googleusercontent.com"
         data-callback="handleCredentialResponse">
    </div>

    <div class="g_id_signin" data-type="standard" style="display: none;"></div>

    <script>
        function handleCredentialResponse(response) {
            
            function decodeJwtResponse(token) {
                var base64Url = token.split('.')[1];
                var base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
                var jsonPayload = decodeURIComponent(window.atob(base64).split('').map(function (c) {
                    return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
                }).join(''));

                return JSON.parse(jsonPayload);
            }

            const responsePayload = decodeJwtResponse(response.credential);

            console.log("ID: " + responsePayload.sub);
            console.log('Full Name: ' + responsePayload.name);
            console.log('Given Name: ' + responsePayload.given_name);
            console.log('Family Name: ' + responsePayload.family_name);
            console.log("Image URL: " + responsePayload.picture);
            console.log("Email: " + responsePayload.email);
        }
    </script>

</body>
</html>







