<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <style>

        #sendPicFinal {
            background-color: #712337;
        }

        #sendPicFinal:hover {
            background-color:#a5dbac;
        }

        .darkerDiv {
            background-color: #fdfaf6;
        }

        .checkTd {
            vertical-align: top;
            cursor: pointer;
            color: #777777;
            width: 130px;
            height: 90px;
        }
    </style>

    <script src="./scripts/score.js"></script>
    <script src="./scripts/mark_checkboxes.js"></script>

    <script>

        const getStarted = () => {
            document.getElementById ("introDiv").style.display = "none";
            document.getElementById ("vidDiv").style.display = "";
            document.getElementById ("leftDiv").style.display = "";
        }

        const showCanvas = show => {
            document.getElementById ("canvasElement").style.display = show ? "" : "none";
            document.getElementById ("videoElement").style.display = show ? "none" : "";
            document.getElementById ("capture").style.display = show ? "none" : "";
            document.getElementById ("reCapture").style.display = show ? "" : "none";
            document.getElementById ("sendPic").style.display = show ? "" : "none";
        }

        const showCheckboxes = () => {
            document.getElementById ("mediaDiv").style.display = "none";
            document.getElementById ("leftDiv").style.display = "none";
            document.getElementById ("vidDiv").style.display = "none";
            document.getElementById ("checkDiv").style.display = "";
        }

        const showResults = (res) => {
            try {
                document.getElementById ("resDiv").innerHTML = calctScore (res, getCheckCount());
            } catch (e) {
                alert (e)
                document.getElementById ("resDiv").innerHTML = e;
            }

            document.getElementById ("resDiv").style.display = "";
            document.getElementById ("vidDiv").style.display = "";
            document.getElementById ("vidDiv").style.left = "220px";
            document.getElementById ("vidDiv").style.border = "none";
            document.getElementById ("mediaDiv").style.display = "";
            document.getElementById ("canvasElement").style.display = "";
            document.getElementById ("videoElement").style.display = "none";
            document.getElementById ("checkDiv").style.display = "none";
            document.getElementById ("leftDiv").style.display = "none";
            document.getElementById ("reCapture").style.display = "none";
            document.getElementById ("sendPic").style.display = "none";

            //alert (calctScore (res, getCheckCount()));
            //document.getElementById ("resCanvas").style.display = "";

            //document.getElementById ("resCanvas").style.left = document.getElementById ("canvasElement").style.left;
            //document.getElementById ("resCanvas").style.top = document.getElementById ("canvasElement").style.top;

            // document.getElementById ("canvasElement").width = "512";
            // document.getElementById ("canvasElement").height = "512";

            //document.getElementById ("canvasElement").getContext('2d').drawImage(document.getElementById ("canvasElementToSend"), 0, 0, 512, 512);

            // const resJson = JSON.parse (res);
            // const resCanvas = document.getElementById("resCanvas");
            // const ctx = resCanvas.getContext("2d");

            // Array.from (resJson.result.brown_spot.rectangle).forEach(element => {
                
            //     ctx.beginPath();
            //     ctx.ellipse(element.left / 8, element.top / 8, element.width / 8, element.height / 8, 0, 2 * Math.PI, false);
            //     ctx.fillStyle = "green";
            //     ctx.fill();
            //     ctx.closePath();
            // });
        }

        const generateDimJson = () => {
            return `{"width" : ${canvasToSend.width}, "height" : ${canvasToSend.height}}`;
        }

        const clearNoSymp = (check) => {
            if (check.checked) {
                document.getElementById ("no_symp").checked = false;
                animateCb (mark_cb_get_outer_from_cb (document.getElementById ("no_symp")), document.getElementById ("no_symp"));
            }

            toggleAnalyzeDisableness ();
        }

        const clearChecks = () => {
            const checks = document.querySelectorAll('input[type="checkbox"]:checked');
            checks.forEach (check => {
                if (check.id != 'no_symp') {
                    check.checked = false;
                    animateCb (mark_cb_get_outer_from_cb (check), check);
                }
            });

            toggleAnalyzeDisableness ();
        }

        const getCheckCount = () => {
            const checks = document.querySelectorAll('input[type="checkbox"]:checked');
            let count = 0;
            checks.forEach (check => {
                if (check.id === 'no_symp') {
                    return 0;
                } else {
                    count++;
                }
            });
            return count;
        }

        const toggleAnalyzeDisableness = () => {
            const checks = document.querySelectorAll('input[type="checkbox"]:checked');
            const disdiv = document.getElementById ("disableAnalyze");
            disdiv.style.display = checks.length ? "none" : "";
        }
    </script>
</head>

<body>

    <%- include('../partials/header'); %>

    <!-- indroduction: -->
    <div id="introDiv">
        <div class="abs" style="top:170px; left: 420px; font-family: sans-serif;">
            <span style="font-size: 36px;">
                Are you feeling out of whack? Like everything that used to <br /> come so easy is suddenly a struggle?
            </span>
            <br/><br/><br/>
            <br/><br/><br/>
            <span style="font-size: 24px;font-weight: 100; line-height: 33px;">
                Brain fog, extreme fatigue and even <br /> depression are just a few of the many <br/>
                troubling symptoms of perimenopause
            </span>
            <br/><br/><br/>
            <br/><br/><br/>
            <span style="font-size: 24px; font-weight: 900; line-height: 33px;">
                Take a selfie and instantly receive <br /> your perimenopause assessment.
            </span>
        </div>
        <img class="abs" width="400px;" height="auto" style="top:260px; left:990px;" src="../img/clip.gif"/>
        <button class="abs" style="top:720px; left: 990px; width:300px; height: 50px; font-size: 34px; font-family: sans-serif;" onclick="getStarted()">Let's Get Started!</button>
    </div>

    <!-- video and canvas -->
    <div id="vidDiv" class="abs" style="top:115px; left: 760px; width:550px; height: 600px; border-radius: 10px; border:5px solid #fdfaf6; display: none;">
  
        <div id="mediaDiv">
            <video autoplay="true" id="videoElement" width="480" height="auto" class="abs" style="top:30px; left: 38px; transform: scale(-1, 1); -webkit-transform: scale(-1, 1); -moz-transform: scale(-1, 1);" ></video>
            <canvas id="canvasElement" width="480" height="360" class="abs" style="top:30px; left: 38px; transform: scale(-1, 1); -webkit-transform: scale(-1, 1); -moz-transform: scale(-1, 1)"></canvas>
            <canvas id="canvasElementToSend" width="4096" height="4096" style="visibility:hidden; transform: scale(-1, 1); -webkit-transform: scale(-1, 1); -moz-transform: scale(-1, 1)"></canvas>
            <button class="abs" id="reCapture" style="top:420px; left:60px; display: none;"><span style="font-size: 21px;"> &lt;</span> &nbsp; &nbsp; Retake Selfie</button>
            <button class="abs" id="sendPic" style="top:420px; left:300px; display: none;" onclick="showCheckboxes()">✓ &nbsp; Analyze My Selfie</button>

            <canvas  id="placeHolderCanvas"  width="480" height="360" class="abs" style="top:30px; left: 38px; z-index: 100;">
            
            </canvas>

            <script>
                   
                const phCanvas = document.getElementById("placeHolderCanvas");
                const phx = phCanvas.getContext("2d");

                phx.beginPath();
                phx.ellipse(240, 180, 200 , 230, 0, 2 * Math.PI, false);
                phx.strokeStyle = "rgba(0,0,0,0.4)";
                phx.lineWidth = 200
                phx.stroke();
                phx.closePath();

            </script>
            <!--canvas id="resCanvas" class="abs" width="512" height="512" style="display: none;"></canvas-->
        </div>
    </div>

    <!-- checkbox div -->
    <div id="checkDiv" class="abs" style="top:165px; left:410px; width: 100%; border:5px solid #fdfaf6; border-radius: 10px; width:920px; height: 600px;; display: none;">
        <div class="abs" style='top:30px; left:20px; font-size: 30px; font-family: "suez one", serif; text-align: center; width: 100%; color:#777777; border: 1px solid #ffffff;'>
            While We Analyze Your Biomarkers, <br />
            Please Check All That Applies To You
        </div>
        <table class="abs" style='left: 30px; top:120px; font-size: 18px; font-family: "suez one", serif; width: 92%; vertical-align: top; '>
            <tr>
                <td class="checkTd"><%- include('../partials/mark_checkbox', {cb: "cb1", onclick: "clearNoSymp"}); %></td>
                <td class="checkTd" onclick="document.getElementById('cb1_outer').click();">New onset heavy and/or longer flow</td>
                <td class="checkTd"><%- include('../partials/mark_checkbox', {cb: "cb2", onclick: "clearNoSymp"}); %></td>
                <td class="checkTd" onclick="document.getElementById('cb2_outer').click();">Shorter menstrual cycles (up to 25 days)</td>
                <td class="checkTd"><%- include('../partials/mark_checkbox', {cb: "cb3", onclick: "clearNoSymp"}); %></td>
                <td class="checkTd" onclick="document.getElementById('cb3_outer').click();">New sore, swollen or lumpy breasts</td>
            </tr>
            <tr>
                <td class="checkTd"><%- include('../partials/mark_checkbox', {cb: "cb4", onclick: "clearNoSymp"}); %></td>
                <td class="checkTd" onclick="document.getElementById('cb4_outer').click();">New mid-sleep wakening</td>
                <td class="checkTd"><%- include('../partials/mark_checkbox', {cb: "cb5", onclick: "clearNoSymp"}); %></td>
                <td class="checkTd" onclick="document.getElementById('cb5_outer').click();">New or markedly increased migrane headaches</td>
                <td class="checkTd"><%- include('../partials/mark_checkbox', {cb: "cb6", onclick: "clearNoSymp"}); %></td>
                <td class="checkTd" onclick="document.getElementById('cb6_outer').click();">Increased cramps</td>
            </tr>
            <tr>
                <td class="checkTd"><%- include('../partials/mark_checkbox', {cb: "cb7", onclick: "clearNoSymp"}); %></td>
                <td class="checkTd" onclick="document.getElementById('cb7_outer').click();">Onset of night sweats, in particular premenstraully</td>
                <td class="checkTd"><%- include('../partials/mark_checkbox', {cb: "cb8", onclick: "clearNoSymp"}); %></td>
                <td class="checkTd" onclick="document.getElementById('cb8_outer').click();">New/increased premenstrual mood swings</td>
                <td class="checkTd"><%- include('../partials/mark_checkbox', {cb: "cb9", onclick: "clearNoSymp"}); %></td>
                <td class="checkTd" onclick="document.getElementById('cb9_outer').click();">Weight gain without changes in exercise or eating</td>
            </tr>
            <tr>
                <td class="checkTd"><%- include('../partials/mark_checkbox', {cb: "cb10", onclick: "clearNoSymp"}); %></td>
                <td class="checkTd" onclick="document.getElementById('cb10_outer').click();">Other</td>
                <td class="checkTd"><%- include('../partials/mark_checkbox', {cb: "no_symp", onclick: "clearChecks"}); %></td>
                <td class="checkTd" onclick="document.getElementById('no_symp_outer').click();">I don't have any symptoms</td>
                <td></td>
                <td ></td>
            </tr>
        </table>

        <button class="abs" id="sendPicFinal" style="top:480px; left:350px;">Ready For My Results!</button>
        <div class="abs" id="disableAnalyze" style="top:460px; left: 330px; width: 240px; height: 80px; z-index: 100; background-color: rgba(255, 255, 255, 0.5);"></div>
        <img id="loadingImg" class="abs" style="width:36px; height: 36px; top:435px; left: 280px; z-index: 20; display: none;" src="./img/loading.gif" />

    </div>

    <!-- left div -->
    <div id="leftDiv" class="abs darkerDiv" style="top: 115px; left:360px; width:400px; height: 600px; border-radius: 10px; border:5px solid #fdfaf6; display:none;">

        <div class="abs" style='top:100px; font-family: "suez one", serif; font-size: 48px; text-align: center; width: 100%;'>
            Take a Selfie
        </div>
        <div class="abs"style='top:200px; font-family: "suez one", serif; font-size: 28px; text-align: center;'>
            And get your biomarker analysis results instantly
        </div>

        <button class="abs" id="capture" style="font-size: 23px; top:330px; left: 105px;">CAPTURE</button>
    </div>

    <!-- resutls image -->
    <div id="resDiv" style="position:fixed; top:120px; left: 770px; z-index: 1000; width: 100%; height: 100%; overflow: scroll; display: none;">
        <!--img src="img/results.png" class="abs" style="top:0px; left: 0px; max-width:600px; height:auto;" /-->
    </div>

    <script>
        const video = document.querySelector("#videoElement");

        if (navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia({ video: true })
                .then(function (stream) {
                    video.srcObject = stream;
                    const vsettings = (stream.getVideoTracks()[0].getSettings());
                    const vwidht = vsettings.width;
                    const vheight = vsettings.height;
                    const vratio = vwidht / vheight;

                    canvasElement.height = Math.round (canvasElement.width / vratio);
                    canvasToSend.height =  Math.round (canvasToSend.width / vratio);
            })
                .catch(function (error) {
                    console.log("Something went wrong!");
                    console.log(error);
            });
        }
    </script>


    <form id="uploadForm" enctype="multipart/form-data" style="display: none;">
        <input type="file" name="file" id="fileInput" />
        <input type="text" name="res" id="resInput" />
        <input type="text" name="dim" id="dimInput" />
        <input type="text" name="score" id="scoreInput" />
        <button type="submit" id="uploadButton">Upload</button>
    </form>

    <script>
        const canvas = document.getElementById('canvasElement');
        const canvasToSend = document.getElementById('canvasElementToSend');
        const captureButton = document.getElementById('capture');
        const recaptureButton = document.getElementById('reCapture');
        const sendPicButton = document.getElementById('sendPicFinal');


        captureButton.addEventListener('click', () => {
            showCanvas (true);
            canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
            canvasToSend.getContext('2d').drawImage(video, 0, 0, canvasToSend.width, canvasToSend.height);
        });

        recaptureButton.addEventListener('click', () => {
            showCanvas (false);
        });

        sendPicButton.addEventListener('click', () => {
            
            canvasToSend.toBlob ( blob => {

                document.getElementById("loadingImg").style.display = "";
                document.getElementById("disableAnalyze").style.display = "";
                
                const formdata = new FormData();
                formdata.append("image", blob);

                formdata.append("side_image", blob);
                formdata.append("return_maps", "");
                formdata.append("return_marks", "");
                formdata.append("roi_outline_color", "");
                formdata.append("return_side_results", "");

                const file = new File( [ blob ], "mycanvas.jpg" );
                const dT = new DataTransfer();
                dT.items.add( file );
                document.getElementById( "fileInput" ).files = dT.files;

                const requestOptions = {
                    method: 'POST',
                    body: formdata,
                    redirect: 'follow',
                    headers: {
                        'ailabapi-api-key': 'VDAp3sCkYwcqEyDES40SXl625sT6QFpc3efjGoHmBTf9QKKhtRvjUVdrmZP8O7Lw'
                    }
                };

                const requestOptionsForSaving = {
                    method: 'POST',
                    body: formdata,
                    redirect: 'follow',
                };

                fetch("https://www.ailabapi.com/api/portrait/analysis/skin-analysis-pro", requestOptions)
                    .then(response => response.text())
                    .then(async (result) => {
                        document.getElementById("resInput").value = result;
                        document.getElementById("dimInput").value = generateDimJson();
                        showResults (result);
                    })
                    .then(
                        () => {
                            document.getElementById('uploadButton').click();
                        }
                    ) 
                    .catch (error => showResults (error));
            
            },"image/jpeg", 1);


            
        });

        document.getElementById('uploadForm').addEventListener('submit', (e) => {
            e.preventDefault();

            const fileInput = document.getElementById('fileInput');
            const file = fileInput.files[0];

            const res = document.getElementById('resInput').value;
            const dim = document.getElementById('dimInput').value;

            const formData = new FormData();
            formData.append('file', file);
            formData.append('res', res);
            formData.append('dim', dim);

            fetch('/submit', {
                method: 'POST',
                body: formData
            })
            .then(response => response.text())
            .then(result => {
                document.getElementById("loadingImg").style.display = "none";
                alert(result);
            })
            .catch(error => {
                console.error(error);
            });
        });

    </script>


</body>
</html>







